<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title=#{adding-documents.title})"></head>
<body>
<div class="page-wrapper">
  <div th:replace="fragments/toolbar :: toolbar"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="fragments/goBack :: goBackLink"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <div class="text--centered" >
          <th:block th:replace="'fragments/icons' :: documentAndEnvelope"></th:block>
          <p class="text--grey-dark" th:text="#{adding-documents.step}"></p>
          <th:block
              th:replace="'fragments/cardHeader' :: cardHeader(header=#{adding-documents.header})"/>
        </div>
        <div class="boxed-content">
          <h2 class="text--centered" th:text="#{adding-documents.we-will-tell-you}"></h2>
          <ol class="list--numbered">
            <li th:text="#{adding-documents.how-to-add-docs}"></li>
            <li th:text="#{adding-documents.which-docs-you-can-add}"></li>
            <li th:text="#{adding-documents.how-to-submit-now-or-later}"></li>

          </ol>
        </div>
        <div class="form-card__footer text--centered">
          <th:block th:replace="'fragments/continueButton' :: continue" />
        </div>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="fragments/footer :: footer" />
</body>
</html>

