<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title=#{annual-household-income.title})"></head>
<body>
<div class="page-wrapper">
  <div th:replace="fragments/toolbar :: toolbar"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="fragments/goBack :: goBackLink"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block
            th:replace="'fragments/cardHeader' :: cardHeader(header=#{annual-household-income.header})"/>
        <div class="form-card__content">
          <div
              th:with="allHouseholdMembersHaveIncome=${templateManager.runCondition('AllHouseholdMembersHaveIncome',submission)}"
              class="boxed-content text--centered">
            <strong th:text="#{annual-household-income.box-header}"></strong>
            <ul class="subflow-list list--bulleted padding-left-25">
              <th:block th:if="${inputData.containsKey('income')}">
                <li th:each="personsIncome: ${T(org.formflowstartertemplate.app.utils.SubmissionUtilities).sortIncomeNamesWithApplicantFirst(submission)}"
                    class="spacing-below-15">
                              <span class="grid">
                                <span class="grid__item width-one-third">
                                  <span
                                      th:with="selectedSelf=${templateManager.runCondition('IncomeSelectedSelf', submission, personsIncome.uuid)}"
                                      th:text="${selectedSelf ? #messages.msg('general.you') : personsIncome.householdMember.split(' ')[0]}"></span>
                                </span>
                                <span
                                    class="grid__item width-one-third text--right padding-right-10"
                                    th:with="personsTotalIncome=${T(org.formflowstartertemplate.app.utils.SubmissionUtilities).getIndividualsTotalIncome(submission, personsIncome.uuid)}"
                                    th:text="${'$' + personsTotalIncome}"></span>
                                <span
                                    class="grid__item width-one-third text--small spacing-below-0">
                                  <a th:href="'/ubi/incomeTypes/' + ${personsIncome.uuid} + '/edit'"
                                     th:text="#{general.edit}"
                                     th:id="'edit-iteration-' + ${personsIncome.uuid}"
                                     class="subflow-edit"></a>
                                  <a th:href="'/ubi/income/' + ${personsIncome.uuid} + '/deleteConfirmation'"
                                     th:text="#{general.delete}"
                                     class="subflow-delete"
                                     th:id="'delete-iteration-' + ${personsIncome.uuid}"></a>
                                </span>
                              </span>
                </li>
              </th:block>
            </ul>
            <hr/>
            <div class="grid">
              <strong class="grid__item width-one-third text--left padding-left-25"
                      th:text="#{annual-household-income.total}"></strong>
              <strong class="grid__item width-one-third text--right"
                      th:text="${'$' + T(org.formflowstartertemplate.app.utils.SubmissionUtilities).getHouseholdTotalIncome(submission)}"></strong>
            </div>
            <a th:href="'/' + ${flow} + '/' + ${iterationStartScreen}"
               th:unless="${allHouseholdMembersHaveIncome}"
               class="button spacing-above-25 spacing-below-0 spacing-right-0"
               th:text="#{annual-household-income.add-income}"></a>
          </div>
        </div>
        <div class="form-card__footer">
          <th:block
              th:replace="'fragments/continueButton' :: continue(text=#{annual-household-income.continue-button})"/>
        </div>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>
