<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title=#{doc-submit-confirmation.title})"></head>
<body>
<div class="page-wrapper">
  <div th:replace="fragments/toolbar :: toolbar"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="fragments/goBack :: goBackLink"></div>
      <!-- TODO: possessive `'s` not coming from translations -->
      <main
          id="content" role="main" class="form-card spacing-above-35">
        <div class="form-card__content">
          <th:block th:replace="'fragments/icons' :: 'fileWithCheckmark'"></th:block>
          <th:block th:replace="'fragments/cardHeader' :: cardHeader(header=#{doc-submit-confirmation.header})" />
        </div>
        <div class="form-card__footer">
            <th:block th:replace="'fragments/continueButton' :: continue(text=#{doc-submit-confirmation.yes-submit-and-finish})" />
          <br>
          <a class="button button--other"  th:href="'/' + ${flow} + '/uploadUBIFlowDocuments'"
             th:text="#{doc-submit-confirmation.no-add-more-documents}"></a>
        </div>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>
