<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title=#{how-this-works.how-this-works})"></head>
<body>
<div class="page-wrapper">
  <div th:replace="fragments/toolbar :: toolbar"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="fragments/goBack :: goBackLink"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="'fragments/icons' :: uploadDocuments"></th:block>
        <th:block
            th:replace="'fragments/cardHeader' :: cardHeader(header=#{document-recommendations.header}, subtext=#{document-recommendations.you-have-30-days})"/>
        <div class="form-card__content">
          <th:block th:replace="'fragments/honeycrisp/reveal' :: reveal(
            linkLabel=~{::revealLabel},
            content=~{::recommendedDocumentsContent})">
            <th:block th:ref="revealLabel">
              <th:block th:text="#{document-recommendations.recommended-documents}"/>
            </th:block>
            <th:block th:ref="recommendedDocumentsContent">

              <th:block th:replace="'fragments/icons' :: smallMoneyIcon"></th:block>
              <p>
                <b th:text="#{document-recommendations.proof-of-income}"></b></br>
                <th:block th:text="#{document-recommendations.tax-documents-from-2020-of-2021}"/>
              </p>

              <th:block th:replace="'fragments/icons' :: smallHouseIcon"></th:block>
              <p>
                <b th:text="#{document-recommendations.proof-of-residency}"></b></br>
                <th:block th:text="#{document-recommendations.current-offical-document}"/>
              </p>

              <th:block th:replace="'fragments/icons' :: smallPersonIcon"></th:block>
              <p>
                <b th:text="#{document-recommendations.proof-of-identity}"></b></br>
                <th:block th:text="#{document-recommendations.a-government-issued-photo}"/>
              </p>
            </th:block>
          </th:block>
        </div>
        <div class="form-card__footer">
          <!-- upload documents -->
          <a class="button button--primary" th:href="'/' + ${flow} + '/uploadUBIFlowDocuments'"
             th:text="#{document-recommendations.upload-documents-now}"></a>
          <!-- don't upload docs now, do it later -->
          <a class="button button--other"  th:href="'/' + ${flow} + '/documentOffboarding'"
               th:text="#{document-recommendations.ill-do-this-later}"></a>
        </div>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>
