<th:block>
  <th:block
      th:replace="fragments/screens/screenWithOneInput ::
  screenWithOneInput(
    title=#{economic-hardship.title},
    header=#{economic-hardship.header},
    subtext=#{economic-hardship.subheader},
    formAction=${formAction},
    inputContent=~{::inputContent})">
    <th:block th:ref="inputContent">
      <th:block th:replace="'fragments/inputs/checkboxFieldset' ::
      checkboxFieldset(inputName='economicHardshipTypes',
      ariaLabel='header',
      content=~{::checkboxContent})">
        <th:block th:ref="checkboxContent">
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='economicHardshipTypes', value=#{economic-hardship.hours-or-wages}, label=#{economic-hardship.hours-or-wages})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='economicHardshipTypes', value=#{economic-hardship.furloughed-due}, label=#{economic-hardship.furloughed-due})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='economicHardshipTypes', value=#{economic-hardship.laid-off}, label=#{economic-hardship.laid-off})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='economicHardshipTypes', value=#{economic-hardship.unemployed-for-more-than-90-days}, label=#{economic-hardship.unemployed-for-more-than-90-days})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='economicHardshipTypes', value=#{economic-hardship.left-work-to-care-for-self}, label=#{economic-hardship.left-work-to-care-for-self})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='economicHardshipTypes', value=#{economic-hardship.lost-childcare-or-more}, label=#{economic-hardship.lost-childcare-or-more})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='economicHardshipTypes', value=#{economic-hardship.left-work-because-of-COVID-19}, label=#{economic-hardship.left-work-because-of-COVID-19})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='economicHardshipTypes', value=#{economic-hardship.household-medical}, label=#{economic-hardship.household-medical})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='economicHardshipTypes', value=#{economic-hardship.household-income-reduced-due-to-death}, label=#{economic-hardship.household-income-reduced-due-to-death})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='economicHardshipTypes', value=#{economic-hardship.business-revenue}, label=#{economic-hardship.business-revenue})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='economicHardshipTypes', value=#{economic-hardship.other}, label=#{economic-hardship.other})"/>
        </th:block>
      </th:block>
    </th:block>
  </th:block>
</th:block>
