<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title=#{exceeds-income-threshold.title})"></head>
<body>
<div class="page-wrapper">
  <div th:replace="fragments/toolbar :: toolbar"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="fragments/goBack :: goBackLink"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="'fragments/icons' :: personWithDollarSign"></th:block>
        <th:block
            th:replace="'fragments/cardHeader' :: cardHeader(header=#{exceeds-income-threshold.header})"/>
        <div class="form-card__content">
          <div
              th:with="familySize=${T(org.formflowstartertemplate.app.utils.SubmissionUtilities).getFamilySize(submission)},
                     familyIncomeThreshold=${T(org.formflowstartertemplate.app.utils.SubmissionUtilities).getIncomeThresholdByFamilySize(submission)}"
              class="form-card__content">
            <p th:utext="#{exceeds-income-threshold.the-annual-household(${familySize}, ${familyIncomeThreshold})}"></p>
            <p th:text="#{exceeds-income-threshold.you-can-still-apply}"></p>
          </div>
          <div class="form-card__footer">
            <th:block
                th:replace="'fragments/continueButton' :: continue(text=#{exceeds-income-threshold.apply-anyway})"/>
          </div>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>
