<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title=#{getting-to-know-you.title})"></head>
<body>
<div class="page-wrapper">
  <div th:replace="fragments/toolbar :: toolbar"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="fragments/goBack :: goBackLink"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <div class="text--centered">
          <th:block th:replace="'fragments/icons' :: onePerson"></th:block>
          <p class="text--grey-dark" th:text="#{getting-to-know-you.step}"></p>
          <th:block
              th:replace="'fragments/cardHeader' :: cardHeader(header=#{getting-to-know-you.title})"/>
        </div>
        <div class="form-card__content">
          <div class="boxed-content">
            <p class="text--centered"><strong th:text="#{getting-to-know-you.ask}"></strong></p>
            <ol class="list--numbered">
              <li th:text="#{getting-to-know-you.basic}"></li>
              <li th:text="#{getting-to-know-you.contact}"></li>
              <li th:text="#{getting-to-know-you.living}"></li>
            </ol>
          </div>
        </div>
        <div class="form-card__footer text--centered">
          <th:block th:replace="'fragments/continueButton' :: continue"/>
        </div>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>