<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title=#{homeAddress.title})"></head>
<body>
<div class="page-wrapper">
  <div th:replace="fragments/toolbar :: toolbar"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="fragments/goBack :: goBackLink"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="'fragments/icons' :: address"/>
        <th:block
            th:replace="'fragments/cardHeader' :: cardHeader(header=#{homeAddress.title})"/>
        <th:block
            th:replace="'fragments/form' :: form(action=${formAction}, content=~{::formContent})">
          <th:block th:ref="formContent">
            <div class="form-card__content">
              <th:block th:replace="'fragments/inputs/text' ::
                  text(inputName='streetAddress',
                  label=#{homeAddress.street-address})"/>
              <th:block th:replace="'fragments/inputs/text' ::
                  text(inputName='apartment',
                  label=#{homeAddress.apartment})"/>
              <th:block th:replace="'fragments/inputs/text' ::
                  text(inputName='city',
                  label=#{homeAddress.city})"/>
              <th:block th:replace="'fragments/inputs/state' ::
                  state(
                    inputName='state',
                    label=#{homeAddress.state}
                  )"/>
              <th:block th:replace="'fragments/inputs/text' ::
                  text(inputName='zip',
                  label=#{homeAddress.zip})"/>
            </div>
            <div class="form-card__footer">
              <th:block th:replace="fragments/inputs/submitButton :: submitButton(
                text=#{general.inputs.continue})"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>
