<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title=#{household-list.title})"></head>
<body>
<div class="page-wrapper">
  <div th:replace="fragments/toolbar :: toolbar"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="fragments/goBack :: goBackLink"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="'fragments/icons' :: 'householdBlue'"></th:block>
        <th:block
            th:replace="'fragments/cardHeader' :: cardHeader(header=#{household-list.header},
            subtext=#{household-list.include-children})"/>
        <div class="form-card__content">
          <div class="boxed-content text--centered">
            <strong th:text="#{household-list.your-household}"></strong>
            <ul class="subflow-list list--bulleted">
              <li class="spacing-below-15"
                  th:text="${inputData.firstName} + ' ' + ${inputData.lastName}"></li>
              <th:block th:if="${inputData.containsKey('household')}">
                <li th:each="householdMember, iter: ${inputData.household}"
                    class="spacing-below-15">
                              <span class="space-between">
                                <span>
                                  <span
                                      th:text="${householdMember.householdMemberFirstName}"></span>
                                  <span th:text="${householdMember.householdMemberLastName}"></span>
                                </span>
                                <span class="text--small spacing-below-0">
                                  <a th:href="'/ubi/' + ${iterationStartScreen} + '/' + ${householdMember.uuid} + '/edit'"
                                     th:text="#{general.edit}"
                                     th:id="'edit-iteration-' + ${householdMember.uuid}"
                                     class="subflow-edit"></a>
                                  <a th:href="'/ubi/household/' + ${householdMember.uuid} + '/deleteConfirmation'"
                                     th:text="#{general.delete}"
                                     class="subflow-delete"
                                     th:id="'delete-iteration-' + ${householdMember.uuid}"></a>
                                </span>
                              </span>
                </li>
              </th:block>
            </ul>
            <a th:href="'/' + ${flow} + '/housemateInfo'" class="button spacing-above-15"
               th:text="#{household-list.add}"></a>
          </div>
        </div>
        <div class="form-card__footer">
          <th:block
              th:replace="'fragments/continueButton' :: continue(text=#{household-list.continue})"/>
        </div>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>
