<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title=#{adding-documents-how-to.title})"></head>
<body>
<div class="page-wrapper">
  <div th:replace="fragments/toolbar :: toolbar"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="fragments/goBack :: goBackLink"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block
            th:replace="'fragments/cardHeader' :: cardHeader(header=#{adding-documents-how-to.header})"/>

        <div class="text--centered">
          <th:block th:replace="'fragments/icons' :: takingPicWithPhone"/>
        </div>
        <ul class="list--bulleted padding-left-25 spacing-below-60">
          <li th:text="#{adding-documents-how-to.take-photos-on-phone}"></li>
          <li th:text="#{adding-documents-how-to.select-files-on-device}"></li>
          <li th:text="#{adding-documents-how-to.take-screenshot-on-device}"></li>
        </ul>
        <!--<div style="margin-left:30px"> -->
        <th:block th:replace="'fragments/continueButton' :: continue"/>
        <!--</div> -->
      </main>
    </div>
  </section>
</div>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>
