<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title=#{income-amounts.title})"></head>
<body>
<div class="page-wrapper">
  <div th:replace="fragments/toolbar :: toolbar"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="fragments/goBack :: goBackLink"></div>
      <main id="content" role="main" class="form-card spacing-above-35"
            th:with="selectedSelf=${templateManager.runCondition('IncomeSelectedSelf', submission, uuid)},
                     houseHoldMemberName=${submission.getSubflowEntryByUuid('income', uuid).householdMember}">
        <th:block
            th:replace="'fragments/cardHeader' :: cardHeader(header=${selectedSelf ? #messages.msg('income-amounts.header', 'you') : #messages.msg('income-amounts.header', houseHoldMemberName)})"/>
        <th:block
            th:replace="'fragments/form' :: form(action=${formAction}, content=~{::incomeAmounts})">
          <div th:ref="incomeAmounts">
            <!-- When visiting from /edit, inputData is the singular object of one iteration,
                 so put it in an array to be used for th:each  -->
            <div class="form-card__content"
                 th:with="iterator=${inputData.getOrDefault('income', {inputData})}">
              <th:block th:each="personsIncome: ${iterator}"
                        th:if="${personsIncome.uuid.equals(uuid)}">
                <th:block th:each="incomeType: ${personsIncome['incomeTypes[]']}">
                  <th:block
                      th:replace="'fragments/inputs/money' :: money(inputName=${incomeType + 'Amount'},
                      label=#{'income-shared.' + ${incomeType}},
                      helpText=#{income-amounts.yearly})"/>
                </th:block>
              </th:block>
            </div>
            <div class="form-card__footer">
              <th:block th:replace="fragments/inputs/submitButton :: submitButton(
                text=#{general.inputs.continue})"/>
            </div>
          </div>
        </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>
