<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title=#{income.title})"></head>
<body>
<div class="page-wrapper">
  <div th:replace="fragments/toolbar :: toolbar"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="fragments/goBack :: goBackLink"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block
            th:replace="'fragments/cardHeader' :: cardHeader(header=#{income.header}, subtext=#{income.include-all-money})"/>
        <div class="form-card__footer">
          <th:block th:replace="'fragments/continueButton' :: continue(text=#{income.add-income})"/>
          <hr>
          <a href="/ubi/reportedAnnualHouseholdIncome" th:text="#{income.no-i-already-know}"></a>
        </div>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>