<th:block
    th:with="selectedSelf=${templateManager.runCondition('IncomeSelectedSelf', submission, uuid)},
             houseHoldMemberName=${submission.getSubflowEntryByUuid('income', uuid).householdMember}">
  <th:block
      th:replace="fragments/screens/screenWithOneInput ::
  screenWithOneInput(
    title=#{income-types.title},
    header=${selectedSelf ? #messages.msg('income-types.headerYou') : #messages.msg('income-types.headerPerson', houseHoldMemberName)},
    subtext=#{income-types.sub-header},
    formAction=${formAction},
    inputContent=~{::inputContent})">
    <th:block th:ref="inputContent">
      <th:block th:replace="'fragments/inputs/checkboxFieldset' ::
      checkboxFieldset(inputName='incomeTypes',
      ariaLabel='header',
      content=~{::checkboxContent})">
        <th:block th:ref="checkboxContent">
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes', value='incomeJob', label=#{income-shared.incomeJob})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes', value='incomeSelf', label=#{income-shared.incomeSelf})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes', value='incomeUnemployment', label=#{income-shared.incomeUnemployment})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes', value='incomeSocialSecurity', label=#{income-shared.incomeSocialSecurity})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes', value='incomeRetirement', label=#{income-shared.incomeRetirement})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes', value='incomeChildOrSpousalSupport', label=#{income-shared.incomeChildOrSpousalSupport})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes', value='incomePension', label=#{income-shared.incomePension})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes', value='incomeInvestment', label=#{income-shared.incomeInvestment})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes', value='incomeCapitalGains', label=#{income-shared.incomeCapitalGains})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes', value='incomeRentalOrRoyalty', label=#{income-shared.incomeRentalOrRoyalty})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes', value='incomeFarmOrFish', label=#{income-shared.incomeFarmOrFish})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes', value='incomeAlimony', label=#{income-shared.incomeAlimony})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes', value='incomeTaxableScholarship', label=#{income-shared.incomeTaxableScholarship})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes', value='incomeCancelledDebt', label=#{income-shared.incomeCancelledDebt})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes', value='incomeCourtAwards', label=#{income-shared.incomeCourtAwards})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes', value='incomeGambling', label=#{income-shared.incomeGambling})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes', value='incomeJuryDutyPay', label=#{income-shared.incomeJuryDutyPay})"/>
          <th:block
              th:replace="'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='incomeTypes', value='incomeOther', label=#{income-shared.incomeOther})"/>
        </th:block>
      </th:block>
    </th:block>
  </th:block>
</th:block>
