<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title=#{legal-stuff.title})"></head>
<body>
<div class="page-wrapper">
  <div th:replace="fragments/toolbar :: toolbar"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="fragments/goBack :: goBackLink"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <div class="legal-stuff-header">
          <th:block
              th:replace="'fragments/cardHeader' :: cardHeader(header=#{legal-stuff.header}, subtext=#{legal-stuff.scroll-down})"/>
        </div>
          <th:block th:replace="'fragments/form' :: form(action=${formAction}, content=~{::legalStuffContent})">
            <th:block th:ref="legalStuffContent">
              <div class="form-card__content">
                <div class="boxed-content legal-stuff-window textarea-readonly">
                  <h3 th:text="#{legal-stuff.summary}"></h3>
                  <ul class="list--bulleted padding-left-25">
                    <li th:text="#{legal-stuff.you-have-been-honest}"></li>
                    <li th:text="#{legal-stuff.to-the-best-of-your-knowledge}"></li>
                    <li th:text="#{legal-stuff.you-understand-that-you-may-be-asked}"></li>
                  </ul>
                  <h3 th:text="#{legal-stuff.details}"></h3>
                  <h4 th:text="#{legal-stuff.ubi-registration}"></h4>
                  <p th:text="#{legal-stuff.i-understand-that-signing-this}"></p>
                  <h4 th:text="#{legal-stuff.eligibility}"></h4>
                  <p th:text="#{legal-stuff.by-applying-for-this-program}">
                  <h4 th:text="#{legal-stuff.consent}"></h4>
                  <p th:text="#{legal-stuff.individuals-requiring-assistance}"></p>
                </div>
                <div class="align-with-boxed-content">
                  <th:block th:replace="'fragments/inputs/checkboxMod' ::
                    checkboxMod(inputName='agreesToLegalTerms',
                    label=#{legal-stuff.i-agree},
                    exteriorElementHelpText=#{legal-stuff.copies-of-the-full-agreements-and-policies},
                    value='true')">
                  </th:block>
                </div>
              </div>
            <div class="form-card__footer">
              <th:block th:replace="fragments/inputs/submitButton :: submitButton(
                text=#{general.inputs.continue})" />
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="fragments/footer :: footer" />
</body>
</html>