<th:block
    th:replace="fragments/screens/screenWithOneInput ::
  screenWithOneInput(
    title=#{household-reported-annual-pre-tax-income.title},
    header=#{household-reported-annual-pre-tax-income.header},
    formAction=${formAction},
    buttonLabel=#{general.inputs.continue},
    inputContent=~{::inputContent})">
  <th:block th:ref="inputContent">
    <!-- Be sure to have `ariaLabel='header'` to label the input with the header -->
    <th:block
        th:replace="'fragments/inputs/money' :: money(inputName='reportedTotalAnnualHouseholdIncome',
       ariaLabel='header')"/>
  </th:block>
</th:block>

