<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title=#{submitting.title})"></head>
<body>
<div class="page-wrapper">
  <div th:replace="fragments/toolbar :: toolbar"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="fragments/goBack :: goBackLink"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <div class="text--centered" >
          <th:block th:replace="'fragments/icons' :: clipboardWithEnvelope"></th:block>
          <p class="text--grey-dark" th:text="#{submitting.step}"></p>
          <th:block
              th:replace="'fragments/cardHeader' :: cardHeader(header=#{submitting.header})"/>
        </div>
        <div class="boxed-content">
          <h3 class="text--centered" th:utext="#{submitting.before-you-submit}"></h3>
          <ul class="list--numbered">
            <li th:text="#{submitting.attest-to-accuracy}"></li>
            <li th:text="#{submitting.sign}"></li>
            <li th:text="#{submitting.confirm-your-contact-info}"></li>

          </ul>
        </div>
        <div class="form-card__footer text--centered">
          <th:block th:replace="'fragments/continueButton' :: continue" />
        </div>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="fragments/footer :: footer" />
</body>
</html>

