<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title=#{adding-documents-upload-doc.title})"></head>
<body>
<div class="page-wrapper">
  <div th:replace="fragments/toolbar :: toolbar"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="fragments/goBack :: goBackLink"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <div class="text--centered">
          <th:block
              th:replace="'fragments/cardHeader' :: cardHeader(header=#{adding-documents-upload-doc.header})"/>
        </div>
        <th:block
            th:replace="'fragments/form' :: form(action=${formAction}, enctype='multipart/form-data', content=~{::contentRef})">
          <th:block th:ref="contentRef">
            <div class="form-card__content">
              <th:block
                  th:replace="fragments/fileUploader :: fileUploader(inputName='ubiFiles')"></th:block>

              <div class="spacing-above-60">
                <th:block th:replace="'fragments/honeycrisp/reveal' :: reveal(
                linkLabel=~{::revealLabel},
                content=~{::revealContent})">
                  <th:block th:ref="revealLabel">
                    <th:block th:replace="'fragments/icons' :: smallDoubleFileIcon"></th:block>
                    <th:block th:text="#{adding-documents-upload-doc.view-document-list}"></th:block>
                  </th:block>
                  <th:block th:ref="revealContent">
                    <p>
                      <b th:text="#{adding-documents-upload-doc.proof-of-income-header}"></b>
                      </br>
                      <th:block th:text="#{adding-documents-upload-doc.proof-of-income-text}"/>
                    </p>
                    <p>
                      <b th:text="#{adding-documents-upload-doc.proof-of-residency-header}"></b>
                      </br>
                      <th:block th:text="#{adding-documents-upload-doc.proof-of-residency-text}"/>
                    </p>
                    <p>
                      <b th:text="#{adding-documents-upload-doc.proof-of-identity-header}"></b>
                      </br>
                      <th:block th:text="#{adding-documents-upload-doc.proof-of-identity-text}"/>
                    </p>
                  </th:block>
                </th:block>
              </div>
            </div>
            <div class="form-card__footer display-none" id="submit">
              <th:block
                  th:replace="'fragments/continueButton' :: continue(text=#{adding-documents-upload-doc.im-finished-uploading})"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="fragments/footer :: footer"/>
<script>FormFlowDZ.hideContinueIfNoFiles("ubiFiles", "submit")</script>
</body>
</html>
