/* This file is provided for addition of custom CSS styles */

.reveal a {
  display: flex;
}

.reveal svg {
  align-self: center;
  display: flex;
  margin-right: 10px;
}

.align-with-boxed-content {
  padding: 2.5rem 0;
  margin: auto;
  border-radius: 3px;
  max-width: 35rem;
}
.legal-stuff-header {
  padding: 2.5rem 0 -2.5rem 0;
  margin: auto;
  border-radius: 3px;
  max-width: 35rem;
}

.legal-stuff-window {
  border: 2px solid black;
  height: 35rem;
  overflow-y: scroll;
  padding-right: calc(1.5rem + 12px);
}
.textarea-readonly::-webkit-scrollbar {
  -webkit-appearance: none;
}

.textarea-readonly::-webkit-scrollbar:vertical {
  width: 12px;
}

.textarea-readonly::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 10px;
  border: 2px solid #ffffff;
}

.textarea-readonly::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}

.notice-container {
  max-width: 55rem;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.notice-blue {
  background: #E9F6FF;
  border: 1px solid #003865;
  border-radius: 3px;
  position: relative;
  padding: 20px 15px 0 15px;
}

.steps-box {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.steps-box svg {
  flex-shrink: 0;
}

.vertical-steps .notice-blue {
  margin-bottom: -10px;
  margin-top: -10px;
}

.notice-blue .width-one-sixth {
  text-align: center;
}

.vertical-steps:before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  left: 50%;
  background-color: #003964;
}

.email-confirmation-box {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.email-confirmation-box strong {
  color: #00891B;
}

.email-confirmation-box svg {
  flex-shrink: 0;
}