<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{upload-documents.title}, useDropzone=false)}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{upload-documents.add-doc-type.header})}"/>
        <th:block th:replace="~{fragments/form :: form(action=${formAction}, content=~{::clientInfoFormContents})}">
          <th:block th:ref="clientInfoFormContents"
             th:with="
                userFiles = ${T(org.ladocuploader.app.utils.UserFileUtilities).getUserFileMap(session.userFiles, flow, 'uploadDocuments')},
                numberOfFiles = ${userFiles.keySet().size()},
                maxFiles=${@environment.getProperty('form-flow.uploads.max-files')}">
            <div th:id="upload-doc-div-details" class="spacing-below-25">
              <p th:if="${numberOfFiles == 1}" th:id="upload-doc-text-details" class="upload-doc-text" th:text="#{general.files.file-added.one(${maxFiles})}"></p>
              <p th:if="${numberOfFiles > 1}" th:id="upload-doc-text-details" class="upload-doc-text" th:text="#{general.files.file-added.other(${numberOfFiles}, ${maxFiles})}"></p>
            </div>
            <div class="form-card__content">
              <div class="dropzone file-preview-template preview-container">
                <th:block th:each="userFile, iter: ${userFiles}">
                   <th:block th:replace="~{fragments/fileDetails :: fileDetails(userFile=${userFile})}"></th:block>

                  <th:block th:replace="~{fragments/inputs/select :: select(
                      inputName=${'docType_' + userFile.getKey()},
                      helpText='',
                      content=~{::docTypes},
                      label='',
                      ariaLabel='aria label')}">
                    <th:block th:ref="docTypes">
                      <th:block
                          th:replace="~{fragments/inputs/selectOptionPlaceholder :: selectOptionPlaceholder(optionText=#{upload-documents.doc-type-label.placeholder})}"/>
                      <th:block
                          th:replace="~{fragments/inputs/selectOption :: selectOption(value='BirthCertificate', optionText=#{upload-documents.doc-type-label.permanent-documents.birth-certificate})}"/>
                      <th:block
                          th:replace="~{fragments/inputs/selectOption :: selectOption(value='DriversLicense', optionText=#{upload-documents.doc-type-label.permanent-documents.drivers-license})}"/>
                      <th:block
                          th:replace="~{fragments/inputs/selectOption :: selectOption(value='SocialSecurityCard', optionText=#{upload-documents.doc-type-label.permanent-documents.social-security-card})}"/>
                      <th:block
                          th:replace="~{fragments/inputs/selectOption :: selectOption(value='CheckStub', optionText=#{upload-documents.doc-type-label.income.check-stub})}"/>
                      <th:block
                          th:replace="~{fragments/inputs/selectOption :: selectOption(value='OtherIncome', optionText=#{upload-documents.doc-type-label.income.other-income})}"/>
                      <th:block
                          th:replace="~{fragments/inputs/selectOption :: selectOption(value='Bill', optionText=#{upload-documents.doc-type-label.expenses.bills})}"/>
                      <th:block
                          th:replace="~{fragments/inputs/selectOption :: selectOption(value='MedicalInfo', optionText=#{upload-documents.doc-type-label.medical.medical-info})}"/>
                      <th:block
                          th:replace="~{fragments/inputs/selectOption :: selectOption(value='BankingInfo', optionText=#{upload-documents.doc-type-label.resources.banking-info})}"/>
                      <th:block
                          th:replace="~{fragments/inputs/selectOption :: selectOption(value='MarriageLicense', optionText=#{upload-documents.doc-type-label.legal.marriage-license})}"/>
                      <th:block
                          th:replace="~{fragments/inputs/selectOption :: selectOption(value='DivorceDecree', optionText=#{upload-documents.doc-type-label.legal.divorce-decree})}"/>
                      <th:block
                          th:replace="~{fragments/inputs/selectOption :: selectOption(value='CourtOrder', optionText=#{upload-documents.doc-type-label.legal.court-order})}"/>
                      <th:block
                          th:replace="~{fragments/inputs/selectOption :: selectOption(value='Paternity', optionText=#{upload-documents.doc-type-label.paternity.ack-of-paternity})}"/>
                      <th:block
                          th:replace="~{fragments/inputs/selectOption :: selectOption(value='Other', optionText=#{upload-documents.doc-type-label.correspondence.other})}"/>
                    </th:block>
                  </th:block>
                </th:block>
              </div>
            </div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/submitButtonSecondary :: submitButton(
                  text=#{upload-documents.button-text}, isHidden=true)}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}" />
</body>
</html>