<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{upload-documents.title}, useDropzone=false)}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{upload-documents.add-type.header})}"/>
        <th:block th:replace="~{fragments/form :: form(action=${formAction}, content=~{::clientInfoFormContents})}">
          <th:block th:ref="clientInfoFormContents"
             th:with="
                userFiles = ${T(org.ladocuploader.app.utils.UserFileUtilities).getUserFileMap(session.userFiles, flow, 'uploadDocuments')},
                numberOfFiles = ${userFiles.keySet().size()},
                maxFiles=${@environment.getProperty('form-flow.uploads.max-files')}">
            <div th:id="upload-doc-div-details" class="spacing-below-25">
              <p th:if="${numberOfFiles == 1}" th:id="upload-doc-text-details" class="upload-doc-text" th:text="#{general.files.file-added.one(${maxFiles})}"></p>
              <p th:if="${numberOfFiles > 1}" th:id="upload-doc-text-details" class="upload-doc-text" th:text="#{general.files.file-added.other(${numberOfFiles}, ${maxFiles})}"></p>
            </div>
            <div class="form-card__content">
              <div class="dropzone file-preview-template preview-container">
                <th:block th:each="userFile, iter: ${userFiles}">
                   <th:block th:replace="~{fragments/fileDetails :: fileDetails(userFile=${userFile})}"></th:block>
                </th:block>

                <th:block th:replace="~{fragments/inputs/select :: select(label=${label}, inputName=${inputName}, helpText=${helpText}, content=~{::docTypes})}">
                <th:block th:ref="docTypes">
                  <th:block
                      th:replace="~{fragments/inputs/selectOptionPlaceholder :: selectOptionPlaceholder(optionText=#{state.placeholder})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/selectOption :: selectOption(value='AL', optionText=#{state.al})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/selectOption :: selectOption(value='AK', optionText=#{state.ak})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/selectOption :: selectOption(value='AZ', optionText=#{state.az})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/selectOption :: selectOption(value='AR', optionText=#{state.ar})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/selectOption :: selectOption(value='CA', optionText=#{state.ca})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/selectOption :: selectOption(value='CO', optionText=#{state.co})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/selectOption :: selectOption(value='CT', optionText=#{state.ct})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/selectOption :: selectOption(value='DE', optionText=#{state.de})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/selectOption :: selectOption(value='FL', optionText=#{state.fl})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/selectOption :: selectOption(value='GA', optionText=#{state.ga})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/selectOption :: selectOption(value='HI', optionText=#{state.hi})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/selectOption :: selectOption(value='ID', optionText=#{state.id})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/selectOption :: selectOption(value='IL', optionText=#{state.il})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/selectOption :: selectOption(value='IN', optionText=#{state.in})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/selectOption :: selectOption(value='IA', optionText=#{state.ia})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/selectOption :: selectOption(value='KS', optionText=#{state.ks})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/selectOption :: selectOption(value='KY', optionText=#{state.ky})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/selectOption :: selectOption(value='LA', optionText=#{state.la})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/selectOption :: selectOption(value='ME', optionText=#{state.me})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/selectOption :: selectOption(value='MD', optionText=#{state.md})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/selectOption :: selectOption(value='MA', optionText=#{state.ma})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/selectOption :: selectOption(value='MI', optionText=#{state.mi})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/selectOption :: selectOption(value='MN', optionText=#{state.mn})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/selectOption :: selectOption(value='MS', optionText=#{state.ms})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/selectOption :: selectOption(value='MO', optionText=#{state.mo})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/selectOption :: selectOption(value='MT', optionText=#{state.mt})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/selectOption :: selectOption(value='NE', optionText=#{state.ne})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/selectOption :: selectOption(value='NV', optionText=#{state.nv})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/selectOption :: selectOption(value='NH', optionText=#{state.nh})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/selectOption :: selectOption(value='NJ', optionText=#{state.nj})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/selectOption :: selectOption(value='NM', optionText=#{state.nm})}"/>
                  <th:block
                
              </div>
            </div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/submitButtonSecondary :: submitButton(
                  text=#{upload-documents.button-text}, isHidden=true)}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}" />
</body>
</html>