# Run weekly on Wednesday at Noon PDT
# 0 19 * * WED java -Dserver.port=9191 -jar /opt/form-flow-starter-app/app.jar transmit

# Run every hour
@hourly java -Dserver.port=9191 -jar /opt/form-flow-starter-app/app.jar transferSubmissions

