<?xml version = "1.0" encoding = "UTF-8"?>
<configuration>
  <appender name="LocalConsole" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="JsonConsole" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
      <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
        <prettyPrint>false</prettyPrint>
      </jsonFormatter>
      <appendLineSeparator>true</appendLineSeparator>
      <timestampFormat>yyyy-MM-dd' 'HH:mm:ss</timestampFormat>
    </layout>
  </appender>

  <springProfile name="dev | test">
    <root level="INFO">
      <appender-ref ref="LocalConsole"/>
    </root>
  </springProfile>

  <springProfile name="staging | demo | production">
    <root level="INFO | WARN | ERROR">
      <appender-ref ref="JsonConsole"/>
    </root>
  </springProfile>
</configuration>
