<th:block
    th:fragment="duedate(inputName, groupName)"
    th:with="
      hasLabel=${!#strings.isEmpty(label)},
      hasAriaLabel=${!#strings.isEmpty(ariaLabel)},
      hasErrorMonth=${
        errorMessages != null &&
        errorMessages.get('month' + inputName) != null &&
        #arrays.length(errorMessages.get('month' + inputName)) > 0 },
      hasErrorDay=${
        errorMessages != null &&
        errorMessages.get('day' + inputName) != null &&
        #arrays.length(errorMessages.get('day' + inputName)) > 0 },
      hasErrorYear=${
        errorMessages != null &&
        errorMessages.get('year' + inputName) != null &&
        #arrays.length(errorMessages.get('year' + inputName)) > 0 }"
    th:assert="${hasLabel || hasAriaLabel}">
  <div
      th:class="'form-group' + ${((hasErrorMonth || hasErrorDay || hasErrorYear) ? ' form-group--error' : '')}">
    <fieldset th:id="${groupName}" class="input-group input-group--inline">
      <legend th:if="${hasLabel}" th:for="${inputName}" th:text="${label}"
              class="form-question"/>
      <p class="text--help">
        <label th:for="${inputName}+'-month'"
               th:id="${inputName}+'-month-label'"
               th:text="#{general.month}"></label>
        &nbsp;/&nbsp;
        <label th:for="${inputName}+'-day'"
               th:id="${inputName}+'-day-label'"
               th:text="#{general.day}"></label>
        &nbsp;/&nbsp;
        <label th:for="${inputName}+'-year'"
               th:id="${inputName}+'-year-label'"
               th:text="#{general.year}"></label>
      </p>
      <!-- TODO: figure out the three fields for each date issue -->
      <input type="text" inputmode="numeric" maxlength="2"
             class="text-input text-input--inline form-width--month"
             th:id="${inputName}+'-month'"
             th:name="'month'+${inputName}"
             th:placeholder="mm"
             th:attr="
              aria-describedby=${inputName + '-month-label'},
              aria-labelledby=${hasAriaLabel ? ariaLabel : ''},
              aria-invalid=${hasErrorMonth}"
             th:value="${fieldData.getOrDefault('month' + inputName, '')}"/>
      /
      <input type="text" inputmode="numeric" maxlength="2"
             class="text-input text-input--inline form-width--day"
             th:id="${inputName}+'-day'"
             th:name="'day'+${inputName}"
             th:placeholder="dd"
             th:attr="
              aria-describedby=${inputName}+'-day-label',
              aria-labelledby=${hasAriaLabel ? ariaLabel : ''},
              aria-invalid=${hasErrorDay}"
             th:value="${fieldData.getOrDefault('day' + inputName, '')}"/>
      /
      <input type="text" inputmode="numeric" maxlength="4"
             class="text-input text-input--inline form-width--year"
             th:id="${inputName}+'-year'"
             th:name="'year'+${inputName}"
             th:placeholder="yyyy"
             th:attr="
              aria-describedby=${inputName}+'-year-label',
              aria-labelledby=${hasAriaLabel ? ariaLabel : ''},
              aria-invalid=${hasErrorYear}"
             th:value="${fieldData.getOrDefault('year' + inputName, '')}"/>
    </fieldset>
    <th:block
        th:replace="~{fragments/inputError :: validationError(inputName='month'+${inputName})}"></th:block>
    <th:block
        th:replace="~{fragments/inputError :: validationError(inputName='day'+${inputName})}"></th:block>
    <th:block
        th:replace="~{fragments/inputError :: validationError(inputName='year'+${inputName})}"></th:block>
    <th:block
        th:replace="~{fragments/inputError :: validationError(inputName=${groupName})}"></th:block>
  </div>
</th:block>