<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block
    th:fragment="submitButton"
    th:with="text=${text} ? ${text} : #{general.inputs.submit}, isHidden=${isHidden} ? ${isHidden}: false">
  <input type="hidden" name="applicantId" th:value="${inputData.getOrDefault('applicantId', '')}">
  <button id="form-submit-button"
          class="button button--secondary"
          type="submit"
          th:text="${text}"
          th:classappend="${isHidden}? 'display-none'"></button>
</th:block>
</body>
</html>