<th:block
    th:fragment="yesOrNo(inputName, ariaDescribe)"
    th:with="
      hasHelpText=${!#strings.isEmpty(helpText)},
      hasAriaDescribe=${!#strings.isEmpty(ariaDescribe)},
      hasYesText=${!#strings.isEmpty(overrideYesText)},
      hasNoText=${!#strings.isEmpty(overrideNoText)}"
    th:assert="${!#strings.isEmpty(inputName)}, ${hasAriaDescribe}">
  <div th:if="${hasHelpText}">
    <p th:id="${inputName + '-help-text'}"
       th:text="${helpText}"
       class="text--help spacing-below-25"></p>
  </div>
  <input type="hidden" name="applicantId" th:value="${applicantId}">
  <button
      th:name="${inputName}"
      th:aria-describedby="${hasHelpText ? ariaDescribe + ' ' + inputName + '-help-text' : ariaDescribe}"
      type="submit"
      value="true"
      class="button button--primary">
    <span th:text="${hasYesText ? overrideYesText : #messages.msg('general.inputs.yes')}"></span>
  </button>
  <button
      th:name="${inputName}"
      th:aria-describedby="${hasHelpText ? ariaDescribe + ' ' + inputName + '-help-text' : ariaDescribe}"
      value="false"
      th:href="'/flow/' + ${flow} + '/' + ${screen} + '/navigation'"
      class="button button--secondary">
    <span th:text="${hasNoText ? overrideNoText : #messages.msg('general.inputs.no')}"></span>
  </button>

</th:block>