<footer th:fragment="footer" class="main-footer">


  <p th:utext="#{footer.this-benefits-application-is}"></p>
  <a class="text--small font-white spacing-below-15" target="_blank" rel="noopener noreferrer" href="/privacy"
     th:text="#{footer.privacy}"></a>
  <th:block th:if="${#arrays.contains(@environment.getActiveProfiles(), 'demo') || #arrays.contains(@environment.getActiveProfiles(), 'dev')}">
    <br>Download links (demo-only):
    <a class="link--subtle" target="_blank" rel="noopener noreferrer" th:if="${submission != null}" th:href="'/download-csv/laDigitalAssister/pg/' + ${submission.getId()}">Parent Guardian Summary CSV</a> |
    <a class="link--subtle" target="_blank" rel="noopener noreferrer" th:if="${submission != null}" th:href="'/download-csv/laDigitalAssister/rel/' + ${submission.getId()}">Relationship Summary CSV</a> |
    <a class="link--subtle" target="_blank" rel="noopener noreferrer" th:if="${submission != null}" th:href="'/download-csv/laDigitalAssister/student/' + ${submission.getId()}">Student Summary CSV</a>
  </th:block>
  <div class="footer-logos spacing-below-15">
    <div class="spacing-above-15">
      <a href="https://www.codeforamerica.org">
        <img src="/webjars/form-flow/0.0.1/images/code-for-america-logo_white.svg"
             alt="Code for America logo"
             style="width: 100px;">
      </a>
    </div>
  </div>

</footer>
