
<form th:fragment="form"
      th:with="applicantUrlParam=${T(org.ladocuploader.app.config.UrlParams).APPLICANT_ID_URL_PARAM},
        modifiedAction=${applicantId != null ? action + '?' + applicantUrlParam + '=' + applicantId : action},
        csrfToken=${T(org.ladocuploader.app.utils.CsrfHelper).generateCsrf(submission.getId(), @environment.getProperty('form-flow.csrf-key'))},
        csrfFieldName=${T(org.ladocuploader.app.config.SecurityConfiguration).CSRF_FIELD},
        cookieName=${T(org.ladocuploader.app.config.SecurityConfiguration).CSRF_COOKIE}"
      th:assert="${!#strings.isEmpty(action)}, ${!#strings.isEmpty(content)}"
      th:action="@{${modifiedAction}}"
      th:enctype="${enctype}"
      th:id="${formId}"
      autocomplete="off"
      method="post"
      th:onclick="setCsrf([[${cookieName}]])">
  <input type="hidden" th:attr="name=${csrfFieldName}" th:value="${csrfToken}" id="token">
  <th:block th:replace="${content}"/>
</form>
