<th:block th:fragment="toolbar">
  <header class="main-header toolbar__wrapper">
    <div class="toolbar">
      <div class="toolbar__left spacing-above-0">
        <a href="#content" id="skip-to-content" class="button button--small">Skip to content</a>
        <span class="logo" href="/">
          <img src="/assets/images/dcfs-logo.svg"
               alt="DCFS logo"
               class="vertical-align-left"/>
           <span>dcfs.louisiana.gov</span>
        </span>
      </div>
      <div class="toolbar__right">
        <!--        <select th:replace="fragments/localeSelect :: localeSelect"></select>-->
      </div>
    </div>
  </header>
</th:block>
