<th:block th:fragment="toolbar">
  <header class="main-header toolbar__wrapper" id="main-header">
    <div class="toolbar" id="toolbar">
      <a href="#content" id="skip-to-content" class="button button--small">Skip to content</a>

      <a class="logo" href="/">
        <picture>
          <source srcset="/assets/images/dcfs-logo-white.webp" type="image/webp">
          <source srcset="/assets/images/dcfs-logo-white.png" type="image/png">
          <img src="/assets/images/dcfs-logo-white.png" alt="DCFS logo" class="max-width-logo"/>
        </picture>
      </a>
      <script>
          $(document).ready(function () {
              $("a[rel~='keep-params']").each(function (e) {
                  const params = window.location.search.replace('?', '&').replace(/&lang=\S{2}/, "");
                  $(this).attr('href', $(this).attr('href') + params);
              })

              $("#caseNumber").on("input", function (e) {
                  var val = $(this).val();
                  if (val !== null && val.length >= 9) {
                      $(this).val(val.slice(0,9));
                  }
              })

              $(".flash__dismiss").on("click", function (e) {
                $(this).parent()[0].setAttribute("class", "display-none");
              })

          });
      </script>
      <div th:replace="~{fragments/localeSelect :: localeSelect}"></div>
      <th:block th:replace="~{fragments/localeSelect :: translate_noscript}"></th:block>
    </div>
  </header>
  <th:block th:replace="~{fragments/demoBanner :: demoBanner(demoText=#{demo.banner-text}, demoProfile=${@environment.getProperty('demo')})}"/>
</th:block>
