<th:block th:fragment="toolbar">
  <header class="main-header toolbar__wrapper">
    <div class="toolbar">
      <div class="toolbar__left spacing-above-10 spacing-below-10">
        <a href="#content" id="skip-to-content" class="button button--small">Skip to content</a>
        <a class="logo" href="/">
          <img src="/assets/images/dcfs-logo-white.png"
               alt="DCFS logo"
               class="vertical-align-left max-width-logo"/>
        </a>
      </div>
      <div class="toolbar__right">
        <!--        <select th:replace="fragments/localeSelect :: localeSelect"></select>-->
      </div>
    </div>
  </header>
</th:block>
