<th:block th:fragment="wicEceConfirmation">
  <th:block th:with="
        inOrleans=${T(org.ladocuploader.app.utils.SubmissionUtilities).isOrleansParish(submission)},
        inLinkGroup=${T(org.ladocuploader.app.utils.SubmissionUtilities).inExperimentGroup('LINK', submission)},
        inApplyGroup=${T(org.ladocuploader.app.utils.SubmissionUtilities).inExperimentGroup('APPLY', submission)},
        isEligibleForECE=${inputData.containsKey('interestedInEceInd')},
        isEligibleForWIC=${inputData.containsKey('interestedInWicInd')},
        isInterestedInECE=${'true'.equals(inputData.get('interestedInEceInd'))},
        isInterestedInWIC=${'true'.equals(inputData.get('interestedInWicInd'))},
        isNola=${T(org.ladocuploader.app.utils.SubmissionUtilities).isOrleansParish(submission)},
        isJefferson=${T(org.ladocuploader.app.utils.SubmissionUtilities).isJeffersonParish(submission)}">
    <th:block th:if="${inApplyGroup || inLinkGroup}">
      <h2 class="h2" th:text="#{confirmation.next-steps-immediate}"></h2>
      <th:block th:if="${inLinkGroup && (isEligibleForECE || isEligibleForWIC)}">
        <div class="notice-info steps-box spacing-below-35">
          <p th:if="${isEligibleForWIC && !isEligibleForECE}"
             th:text="#{confirmation.scroll-down.wic-only}"></p>
          <p th:if="${isEligibleForWIC && isEligibleForECE}"
             th:text="#{confirmation.scroll-down.ece-and-wic}"></p>
          <p th:if="${isEligibleForECE && !isEligibleForWIC}"
             th:text="#{confirmation.scroll-down.ece-only}"></p>
        </div>
      </th:block>
      <th:block th:if="${inApplyGroup && ((isEligibleForECE && !isInterestedInECE) || (isEligibleForWIC && !isInterestedInWIC))}">
        <div class="notice-info steps-box spacing-below-35">
          <p th:if="${(isEligibleForWIC && !isInterestedInWIC) && (!isEligibleForECE || isInterestedInECE)}"
             th:text="#{confirmation.scroll-down.wic-only}"></p>
          <p th:if="${(isEligibleForWIC && !isInterestedInWIC) && (!isInterestedInECE && isEligibleForECE)}"
             th:text="#{confirmation.scroll-down.ece-and-wic}"></p>
          <p th:if="${(isEligibleForECE && !isInterestedInECE) && (!isEligibleForWIC || isInterestedInWIC)}"
             th:text="#{confirmation.scroll-down.ece-only}"></p>
        </div>
      </th:block>
      <div class="notice--warning steps-box">
        <th:block th:replace="~{fragments/icons :: socialGroup}"></th:block>
        <p class="spacing-below-15"
           th:utext="|<b>SNAP:</b> #{confirmation.p1_html(${inputData.get('interviewDate')})}|"></p>
      </div>
    </th:block>

    <div th:if="${inApplyGroup && isInterestedInECE}" class="notice--warning steps-box">
      <div class="large-icon"><i class="icon-">&#xE625;</i></div>
      <p th:if="${isNola}" class="spacing-below-15" th:utext="#{nola-ece-notice-confirmation}"></p>
      <p th:if="${isJefferson}" class="spacing-below-15" th:utext="#{jefferson-ece-notice-confirmation}"></p>
    </div>

    <div th:if="${inApplyGroup && isInterestedInWIC}"
         class="notice--warning steps-box spacing-below-0">
      <th:block th:replace="~{fragments/icons :: socialGroup}"></th:block>
      <p class="spacing-below-15" th:utext="#{wic-notice-confirmation}"></p>
    </div>

    <th:block th:if="${isEligibleForECE && !isInterestedInECE}">
      <hr>
      <h2 class="h2" th:utext="#{ece-no-confirmation.header}"></h2>
      <p th:utext="#{nola-ece.if-youre-approved}"></p>
      <p th:utext="#{nola-ece.subheader}"></p>
      <a th:if="${isNola}" class="button button--primary" target="_blank" href="http://apply.avela.org/nolaps"
         th:text="#{ece-go-to-application}" id="eligible-and-not-interested-ece-nola"></a>
      <a th:if="${isJefferson}" class="button button--primary" target="_blank" href="https://jeffersonchild.com/parent-guardians/"
          th:text="#{ece-go-to-application}" id="eligible-and-not-interested-ece-jefferson"></a>
    </th:block>"

    <th:block th:if="${inLinkGroup && isInterestedInECE}">
      <hr>
      <h2 class="h2" th:utext="#{ece-yes-confirmation.header}"></h2>
      <p th:utext="#{nola-ece.if-youre-approved}"></p>
      <p th:utext="#{nola-ece.subheader}"></p>
      <a th:if="${isNola}" class="button button--primary" target="_blank" href="http://apply.avela.org/nolaps"
         th:text="#{ece-go-to-application}" id="link-group-ece-nola"></a>
      <a th:if="${isJefferson}" class="button button--primary" target="_blank" href="https://jeffersonchild.com/parent-guardians/"
          th:text="#{ece-go-to-application}" id="link-group-ece-jefferson"></a>
    </th:block>

    <th:block th:if="${isEligibleForWIC && !isInterestedInWIC}">
      <hr>
      <h2 class="h2" th:text="#{wic-no-confirmation.header}"></h2>
      <p th:text="#{wic.if-youre-approved}"></p>
      <p th:utext="#{wic.subheader}"></p>
      <a class="button button--primary" target="_blank" href="https://mywic.us/participantreferral"
         th:text="#{wic-go-to-application}" id="eligible-and-not-interested-wic"></a>
    </th:block>

    <th:block th:if="${inLinkGroup && isInterestedInWIC}">
      <hr>
      <h2 class="h2" th:text="#{wic-yes-confirmation.header}"></h2>
      <p th:text="#{wic.if-youre-approved}"></p>
      <p th:utext="#{wic.subheader}"></p>
      <a class="button button--primary" target="_blank" href="https://mywic.us/participantreferral"
         th:text="#{wic-go-to-application}" id="link-group-wic"></a>
    </th:block>

    <th:block th:if="${inApplyGroup || inLinkGroup}">
      <hr>
      <h2 class="h2" th:text="#{confirmation-what-to-expect-after}"></h2>
      <div class="notice-info steps-box spacing-below-15">
        <th:block th:replace="~{fragments/icons :: localPostOfficeBlack}"></th:block>
        <p th:utext="|#{confirmation-for-snap}: #{confirmation.p2_html}|"></p>
      </div>
      <div class="notice-info steps-box spacing-below-15">
        <th:block th:replace="~{fragments/icons :: contactPhone}"></th:block>
        <p th:utext="|#{confirmation-for-snap-questions}: #{confirmation.p3}|"></p>
      </div>
    </th:block>
  </th:block>
</th:block>
