<th:block th:fragment="wicEceConfirmation">
    <th:block th:with="
        inNola=${T(org.ladocuploader.app.utils.SubmissionUtilities).isNolaParish(submission)},
        inLinkGroup=${T(org.ladocuploader.app.utils.SubmissionUtilities).inExperimentGroup('LINK', submission)},
        inApplyGroup=${T(org.ladocuploader.app.utils.SubmissionUtilities).inExperimentGroup('APPLY', submission)},
        isInterestedInECE=${inputData.getOrDefault('interestedInEceInd','false')},
        isInterestedInWIC=${inputData.getOrDefault('interestedInWicInd','false')}">

        <th:block th:if="${inNola && inLinkGroup}">
            <hr>
            <th:block th:if="${isInterestedInECE}">
                <h2 class="h2" th:text="#{ece-yes-confirmation.header}"></h2>
            </th:block>
            <th:block th:unless="${isInterestedInECE}">
                <h2 class="h2" th:text="#{ece-no-confirmation.header}"></h2>
            </th:block>
            <p th:text="#{nola-ece-links.if-youre-approved}"></p>
            <p th:utext="#{nola-ece-links.subheader}"></p>
            <a class="button button--primary" href="http://apply.avela.org/nolaps"
               th:text="#{nola-ece-go-to-application}"></a>
        </th:block>

        <th:block th:if="${inLinkGroup}">
            <hr>
            <th:block th:if="${isInterestedInWIC}">
                <h2 class="h2" th:text="#{wic-yes-confirmation.header}"></h2>
            </th:block>
            <th:block th:unless="${isInterestedInWIC}">
                <h2 class="h2" th:text="#{wic-no-confirmation.header}"></h2>
            </th:block>
            <p th:text="#{wic.if-youre-approved}"></p>
            <p th:utext="#{wic.subheader}"></p>
            <a class="button button--primary" href="https://mywic.net/participantreferral"
               th:text="#{wic-go-to-application}"></a>
        </th:block>
    </th:block>
</th:block>
