<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title=#{index.title})"></head>
<body class="template--static-page">
<div class="page-wrapper">
  <th:block th:replace="fragments/toolbar :: toolbar"/>
  <th:block th:replace="fragments/demoBanner :: demoBanner"/>
  <main id="content" role="main" class="slab slab--white spacing-below-0">
    <section class="slab">
      <div class="grid">
        <div class="width-one-half">
          <h1 class="spacing-below-35 spacing-above-5" th:utext="#{index.header}"></h1>
          <p th:utext="#{index.upload-description}"></p>
          <div class="display-flex flex-column">
            <a id="upload_docs" href="/laDocUpload/clientInfo" class="button">Upload documents</a>
            <a id="upload_docs_es" href="/laDocUpload/clientInfo/es" class="button">Subir documentos</a>
            <a id="upload_docs_vi" href="/laDocUpload/clientInfo/vi" class="button">Tải lên tài liệu</a>
          </div>
          <table>
            <tr>
              <td th:utext="#{index.snap-info}"></td>
              <td th:utext="#{index.fitap-info}"></td>
            </tr>
            <tr>
              <td th:utext="#{index.kcsp-info}"></td>
              <td th:utext="#{index.lcap-info}"></td>
            </tr>
          </table>
        </div>
      </div>
    </section>
  </main>
</div>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>
