<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title=#{index.title})"></head>
<body class="template--static-page">
<div class="page-wrapper">
  <th:block th:replace="fragments/toolbar :: toolbar"/>
  <th:block th:replace="fragments/demoBanner :: demoBanner"/>
  <main id="content" role="main" class="slab slab--white spacing-below-0">
    <section class="slab">
      <div class="grid">
        <div class="width-one-half">
          <h1 class="spacing-below-35 spacing-above-5" th:text="#{index.title}"></h1>
          <a href="/laDocUpload/clientInfo" th:text="#{index.upload-documents}" class="button"></a>
        </div>
      </div>
    </section>
  </main>
</div>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>
