<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title=#{index.title})"></head>
<body class="template--static-page">
<div class="page-wrapper">
  <th:block th:replace="fragments/toolbar :: toolbar"/>
  <th:block th:replace="fragments/demoBanner :: demoBanner(demoText=#{demo.banner-text}, profile='demo')"/>
  <main id="content" role="main" class="slab slab--white spacing-below-0">
    <section class="slab">
      <h1 class="spacing-below-35 spacing-above-5" th:utext="#{index.header}"></h1>
      <p th:utext="#{index.upload-description}"></p>
      <div class="display-flex flex-column">
        <a id="upload_docs_1" th:href="#{index.upload-documents-primary.link}"
           th:text="#{index.upload-documents-primary}" class="button button--primary spacing-below-10"></a>
        <p class="text--help spacing-below-25">
          <small>
            <i class="icon-lock_outline"></i>
            <span th:text="#{index.safe-and-secure}"></span>
          </small>
        </p>
        <a id="upload_docs_2" th:href="#{index.upload-documents-second.link}"
           th:text="#{index.upload-documents-second}" class="button button--small spacing-below-15"></a>
        <a id="upload_docs_3" th:href="#{index.upload-documents-third.link}"
           th:text="#{index.upload-documents-third}" class="button button--small"></a>
      </div>

      <p th:text="#{index.these-documents}"></p>
      <div>
          <table>
            <tr>
              <td th:utext="#{index.snap-info}"></td>
              <td th:utext="#{index.fitap-info}"></td>
            </tr>
            <tr>
              <td th:utext="#{index.kcsp-info}"></td>
              <td th:utext="#{index.lcap-info}"></td>
            </tr>
          </table>
      </div>
      <p th:utext="#{index.looking-for-other-programs}"></p>
      <a href="/laDocUpload/clientInfo/" th:text="#{index.get-started}" class="button button--primary"></a>

      <h2 th:text="#{index.heres-a-quick-list}"></h2>
      <p th:utext="#{index.you-can-upload}"></p>

      <ul class="list--checkmark">
        <li>
          <div th:text="#{index.ID}"></div>
          <p class="text--help" th:text="#{index.ID-examples}"></p>
        </li>
        <li>
          <div th:text="#{index.immigration-status}"></div>
          <p class="text--help" th:text="#{index.immigration-status-examples}"></p>
        </li>
        <li>
          <div th:text="#{index.income}"></div>
          <p class="text--help" th:text="#{index.income-examples}"></p>
        </li>
        <li>
          <div th:text="#{index.expenses}"></div>
          <p class="text--help" th:text="#{index.expenses-examples}"></p>
        </li>
        <li>
          <div th:text="#{index.immunization-records}"></div>
        </li>
      </ul>
      <a href="/laDocUpload/clientInfo/" th:text="#{index.get-started}" class="button button--primary"></a>
    </section>
  </main>
</div>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>
