<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title=#{privacy.title})"></head>
<body>
<div class="page-wrapper">
  <th:block th:replace="fragments/toolbar :: toolbar" />
  <th:block th:replace="fragments/demoBanner :: demoBanner" />
  <section class="slab slab--grey">
    <div class="grid">
      <div class="grid__item">
        <h1 class="spacing-below-35" th:text="#{privacy.title}"></h1>
        <p th:text="#{privacy.sub-title}"></p>
        <a href="/ubi/howThisWorks" th:text="#{privacy.apply-now}"
           class="button--primary button"></a>
      </div>
    </div>
  </section>
  <main id="content" role="main" class="slab slab--white">
    <div class="grid">
      <nav class="grid__item width-one-third">
        <p class="h3" th:text="#{privacy.toc}"></p>
        <div class="spacing-below-35">
          <a href="#overview" th:text="#{privacy.overview.title}"></a>
        </div>
        <div class="spacing-below-35">
          <a href="#info" th:text="#{privacy.info.title}"></a>
        </div>
        <div class="spacing-below-35">
          <a href="#how-we-use" th:text="#{privacy.how-we-use.title}"></a>
        </div>
      </nav>
      <div class="grid__item shift-one-twelfth width-seven-twelfths">
        <div class="grid">
          <div class="grid__item">
            <div class="grid__item spacing-below-35">
              <h2 id="overview" class="h3" th:text="#{privacy.overview.title}"></h2>
              <p th:text="#{privacy.overview.content.p1}"></p>
              <h2 id="info" class="h3 spacing-above-60" th:text="#{privacy.info.title}"></h2>
              <p th:text="#{privacy.info.content.p1}"></p>
              <ul class="list--bulleted padding-left-25">
                <li th:text="#{privacy.info.content.li1}"></li>
                <li th:text="#{privacy.info.content.li2}"></li>
                <li th:text="#{privacy.info.content.li3}"></li>
                <li th:text="#{privacy.info.content.li4}"></li>
              </ul>
              <h2 id="how-we-use" class="h3 spacing-above-60" th:text="#{privacy.how-we-use.title}"></h2>
              <p th:text="#{privacy.how-we-use.content.p1}"></p>
              <p th:text="#{privacy.how-we-use.content.p2}"></p>
              <p th:text="#{privacy.how-we-use.content.p3}"></p>
              <p th:text="#{privacy.how-we-use.content.p4}"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<th:block th:replace="fragments/footer :: footer" />
</body>
</html>
