<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(title=#{privacy.title})"></head>
<body>
<div class="page-wrapper">
  <th:block th:replace="fragments/toolbar :: toolbar" />
  <th:block th:replace="fragments/demoBanner :: demoBanner" />
  <section class="slab slab--grey">
    <div class="grid">
      <div class="grid__item">
        <h1 class="spacing-below-35" th:text="#{privacy.title}"></h1>
      </div>
    </div>
  </section>
  <main id="content" role="main" class="slab slab--white">
    <div class="grid">
      <nav class="grid__item width-one-third">
        <p class="h3" th:text="#{privacy.toc}"></p>
        <div class="spacing-below-35">
          <a href="#overview" th:text="#{privacy.overview.title}"></a>
        </div>
        <div class="spacing-below-35">
          <a href="#info" th:text="#{privacy.information-we-collect.title}"></a>
        </div>
        <div class="spacing-below-35">
          <a href="#how-we-use" th:text="#{privacy.how-we-use.title}"></a>
        </div>
        <div class="spacing-below-35">
          <a href="#how-we-share" th:text="#{privacy.how-we-share-your-info.title}"></a>
        </div>
      </nav>
      <div class="grid__item shift-one-twelfth width-seven-twelfths">
        <div class="grid">
            <div class="grid__item spacing-below-35">
              <h2 id="overview" class="h3 spacing-above-60" th:text="#{privacy.overview.title}"></h2>
              <p th:text="#{privacy.sub-title}"></p>
              <ol class="list--numbered padding-left-25">
                <li th:text="#{privacy.info.li1}"></li>
                <li th:text="#{privacy.info.li2}"></li>
              </ol>
              <p th:text="#{privacy.info.description.p1}"></p>
              <br>
              <p th:utext="#{privacy.info.description.p2}"></p>
              <h2 id="info" class="h3 spacing-above-60" th:text="#{privacy.information-we-collect.title}"></h2>
              <p th:text="#{privacy.information-we-collect.p1}"></p>
              <ul class="list--bulleted padding-left-25">
                <li th:text="#{privacy.information-we-collect.li1}"></li>
                <li th:text="#{privacy.information-we-collect.li2}"></li>
                <li th:text="#{privacy.information-we-collect.li3}"></li>
                <li th:text="#{privacy.information-we-collect.li4}"></li>
              </ul>
              <p th:text="#{privacy.information-we-collect.p2}"></p>
              <ul class="list--bulleted">
                <li th:text="#{privacy.information-we-collect.ul2.li1}"></li>
                <li th:text="#{privacy.information-we-collect.ul2.li2}"></li>
                <li th:text="#{privacy.information-we-collect.ul2.li3}"></li>
                <li th:text="#{privacy.information-we-collect.ul2.li4}"></li>
                <li th:text="#{privacy.information-we-collect.ul2.li5}"></li>
                <li th:text="#{privacy.information-we-collect.ul2.li6}"></li>
              </ul>
              <p th:text="#{privacy.information-we-collect.p3}"></p>
              <h2 id="how-we-use" class="h3 spacing-above-60" th:text="#{privacy.how-we-use.title}"></h2>
              <p th:text="#{privacy.how-we-use.content.p1}"></p>
              <ul class="list--bulleted padding-left-25">
                <li th:text="#{privacy.how-we-use.content.li1}">
                  <ul class="list--bulleted">
                    <li th:text="#{privacy.how-we-use.content.li1.sub1}"></li>
                  </ul>
                </li>

                <li th:text="#{privacy.how-we-use.content.li2}"></li>
                <li th:text="#{privacy.how-we-use.content.li3}"></li>
                <li th:text="#{privacy.how-we-use.content.li4}"></li>
                <li th:text="#{privacy.how-we-use.content.li5}"></li>
                <li th:text="#{privacy.how-we-use.content.li6}"></li>
                <li th:text="#{privacy.how-we-use.content.li7}"></li>
                <li th:text="#{privacy.how-we-use.content.li8}"></li>

              </ul>


              <h2 id="how-we-share" class="h3 spacing-above-60" th:text="#{privacy.how-we-share-your-info.title}"></h2>
              <p th:text="#{privacy.how-we-share-your-info.p1}"></p>
              <p th:text="#{privacy.how-we-share-your-info.p2}"></p>
              <ul class="list--bulleted">
                <li th:text="#{privacy.how-we-share-your-info.li1}"></li>
                <li th:text="#{privacy.how-we-share-your-info.li2}"></li>
                <li th:text="#{privacy.how-we-share-your-info.li3}"></li>

              </ul>
              <p th:text="#{privacy.how-we-share-your-info.p3}"></p>
              <p th:text="#{privacy.how-we-share-your-info.p4}"></p>
            </div>
          </div>
        </div>
    </div>
  </main>
</div>
<th:block th:replace="fragments/footer :: footer" />
</body>
</html>
