<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{ssn-faqs.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/icons :: authorizedRep}"></th:block>
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{ssn-faqs.header})}"/>
        <th:block th:replace="~{fragments/honeycrisp/reveal :: reveal(
                controlId='r1',
                linkLabel=~{::revealLabel1},
                content=~{::revealContent1},
                forceShowContent='true')}">
          <th:block th:ref="revealLabel1">
            <i class="icon-">&#xE862;</i>
            <span th:text="#{ssn-faqs.accordion1}"></span>
          </th:block>
          <th:block th:ref="revealContent1">
            <p th:text="#{ssn-faqs.accordion1.expanded}"></p>
          </th:block>
        </th:block>
        <th:block th:replace="~{fragments/honeycrisp/reveal :: reveal(
                controlId='r1',
                linkLabel=~{::revealLabel2},
                content=~{::revealContent2},
                forceShowContent='true')}">
          <th:block th:ref="revealLabel2">
            <i class="icon-">&#xE862;</i>
            <span th:text="#{ssn-faqs.accordion2}"></span>
          </th:block>
          <th:block th:ref="revealContent2">
            <p th:text="#{ssn-faqs.accordion2.expanded}"></p>
          </th:block>
        </th:block>
        <th:block th:replace="~{fragments/honeycrisp/reveal :: reveal(
                controlId='r1',
                linkLabel=~{::revealLabel3},
                content=~{::revealContent3},
                forceShowContent='true')}">
          <th:block th:ref="revealLabel3">
            <i class="icon-">&#xE862;</i>
            <span th:text="#{ssn-faqs.accordion3}"></span>
          </th:block>
          <th:block th:ref="revealContent3">
            <p th:text="#{ssn-faqs.accordion3.expanded}"></p>
            <ul class="list--bulleted">
              <li th:utext="#{ssn-faqs.accordion3.expanded.li1}"></li>
              <li th:text="#{ssn-faqs.accordion3.expanded.li2}"></li>
              <li th:text="#{ssn-faqs.accordion3.expanded.li3}"></li>
              <li th:text="#{ssn-faqs.accordion3.expanded.li4}"></li>
              <li th:text="#{ssn-faqs.accordion3.expanded.li5}"></li>
              <li th:text="#{ssn-faqs.accordion3.expanded.li6}"></li>
            </ul>
          </th:block>
        </th:block>
        <div class="form-card__footer">
          <a class="button button--primary" th:href="'/flow/laDigitalAssister/ssnForm'"
             th:text="#{general.back}"></a>
        </div>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>