<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{authorized-rep-spending.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/icons :: authorizedRep}"></th:block>
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{authorized-rep-spending.header})}"/>
        <th:block
            th:replace="~{fragments/form :: form(action=${formAction}, content=~{::authorizedRepSpending})}">
          <th:block th:ref="authorizedRepSpending">
            <div class="form-card__content">
              <p th:utext="#{authorized-rep-spending.subheader}"></p>
              <ul class="list--bulleted">
                <li th:utext="#{authorized-rep-spending.content-1}"></li>
                <li th:utext="#{authorized-rep-spending.content-2}"></li>
              </ul>
            </div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/yesOrNo :: yesOrNo(
                inputName='authorizedRepSpendingAuthorization',
                ariaDescribe='header')}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>