<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{authorized-rep-contact-info.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/icons :: authorizedRep}"></th:block>
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{authorized-rep-contact-info.header}, subtext=#{authorized-rep-contact-info.subheader})}"/>
        <th:block th:replace="~{fragments/form :: form(action=${formAction}, content=~{::authorizedRepContact})}">
          <th:block th:ref="authorizedRepContact">
            <div class="form-card__content">
              <th:block th:replace="~{fragments/inputs/text ::
                  text(inputName='authorizedRepFirstName',
                  label=#{authorized-rep-contact-info.firstname-question},
                  helpText=#{authorized-rep-contact-info.name-helptext})}"/>
              <th:block th:replace="~{fragments/inputs/text ::
                  text(inputName='authorizedRepLastName',
                  label=#{authorized-rep-contact-info.lastname-question},
                  helpText=#{authorized-rep-contact-info.name-helptext})}"/>
              <th:block th:replace="~{fragments/inputs/text ::
                  text(inputName='authorizedRepOtherNames',
                  label=#{authorized-rep-contact-info.othername-question},
                  helpText=#{authorized-rep-contact-info.othername-helptext})}"/>
              <th:block th:replace="~{fragments/inputs/address ::
                                  address(
                                    validate=false,
                                    inputName='authorizedRep',
                                    streetAddressLabel=#{authorized-rep-contact-info.streetAddress1},
                                    streetAddress2Label=#{authorized-rep-contact-info.streetAddress2},
                                    cityLabel=#{authorized-rep-contact-info.city},
                                    stateLabel=#{authorized-rep-contact-info.state},
                                    zipCodeLabel=#{authorized-rep-contact-info.zipCode},
                                    streetAddress2HelpText=#{general.optional}
                                  )}" />
              <th:block
                  th:replace="~{fragments/inputs/phone :: phone(
                  inputName='authorizedRepPhoneNumber',
                  label=#{authorized-rep-contact-info.phone-number},
                  helpText=#{authorized-rep-contact-info.phone-number.help})}"/>

            </div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(
                text=#{general.inputs.continue})}" />
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>