<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{choose-programs.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/icons :: choosePrograms}"></th:block>
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{choose-programs.header})}"/>
        <th:block
            th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
          <th:block th:ref="formContent">
            <div class="form-card__content">
              <th:block th:replace="~{fragments/inputs/checkboxFieldset ::
                  checkboxFieldset(inputName='programs',
                  label=#{general.check-all-that-apply},
                  content=~{::content})}">
                <th:block th:ref="content">
                  <th:block
                      th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='programs',value='SNAP', label=#{choose-programs.snap}, checkboxHelpText=#{choose-programs.snap-help})}"/>
                </th:block>
              </th:block>
            </div>
            <div class="notice--warning" th:utext="#{choose-programs.snap-only}"></div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(
                  text=#{general.inputs.continue})}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
