<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{confirmation.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <script th:inline="javascript">
          $(function() {
              $('.reveal:not(.force-show-content)').removeClass('is-hiding-content');
          });
      </script>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/icons :: computerWithCheckmark}"></th:block>
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{confirmation.header}, subtext=#{confirmation.subtext(${inputData.get('formattedSubmittedAt')})})}"/>
        <th:block
            th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
          <th:block th:ref="formContent">
            <th:block th:replace="~{'fragments/reveal' :: reveal(
                controlId='r1',
                linkLabel=~{::revealLabel1},
                content=~{::revealContent1},
                forceShowContent='true')}">
              <th:block th:ref="revealLabel1">
                <i class="icon-">&#xE862;</i>
                <th:span th:text="#{confirmation.helpful-resources}"></th:span>
              </th:block>
              <th:block th:ref="revealContent1">
                <ul class="list--bulleted">
                  <li th:utext="#{confirmation.helpful-resources.l1}"></li>
                  <li th:utext="#{confirmation.helpful-resources.l2}"></li>
                </ul>
              </th:block>
            </th:block>

            <hr>

            <h2 class="h2" th:text="#{confirmation.next-steps}"></h2>

            <div class="vertical-steps">
              <div class="vertical-steps__step">
                <div class="notice--warning steps-box spacing-below-0">
                  <th:block th:replace="~{fragments/icons :: socialGroup}"></th:block>
                  <p th:utext="#{confirmation.p1_html(${inputData.get('interviewDate')})}"></p>
                </div>
              </div>
              <div th:if="${inputData.getOrDefault('householdSearchingForJob', 'false').equals('true')}" class="vertical-steps__step">
                <div class="notice--warning steps-box spacing-below-0">
                  <i class="icon-large icon-">&#xE8f9;</i>
                  <p th:utext="#{confirmation.looking_for_job_html}"></p>
                </div>
              </div>
              <div class="vertical-steps__step">
                <div class="notice-info steps-box">
                  <th:block th:replace="~{fragments/icons :: localPostOfficeBlack}"></th:block>
                  <p th:utext="#{confirmation.p2_html}"></p>
                </div>
              </div>
              <div class="vertical-steps__step">
                <div class="notice-info steps-box vertical-step-bottom">
                  <th:block th:replace="~{fragments/icons :: contactPhone}"></th:block>
                  <p th:utext="#{confirmation.p3}"></p>
                </div>
              </div>
            </div>

            <hr>

            <div
                th:if="${(inputData.get('digitalAssisterFeedback') == null or inputData.get('digitalAssisterFeedback') == '')}"
                id="client-feedback">

              <p th:text="#{final-confirmation.provide-feedback}"></p>

              <th:block th:replace="~{'fragments/inputs/radioFieldset' ::
                          radioFieldset(inputName='digitalAssisterFeedback',
                          label=#{confirmation-feedback.how-easy},
                          content=~{::feedbackOptions})}">
                <th:block th:ref="feedbackOptions">
                  <th:block
                      th:replace="~{'fragments/inputs/radio' :: radio(inputName='digitalAssisterFeedback',value=#{final-confirmation.feedback-input.o1}, label=#{final-confirmation.feedback-input.o1})}"/>
                  <th:block
                      th:replace="~{'fragments/inputs/radio' :: radio(inputName='digitalAssisterFeedback',value=#{final-confirmation.feedback-input.o2}, label=#{final-confirmation.feedback-input.o2})}"/>
                  <th:block
                      th:replace="~{'fragments/inputs/radio' :: radio(inputName='digitalAssisterFeedback',value=#{final-confirmation.feedback-input.o3}, label=#{final-confirmation.feedback-input.o3})}"/>
                  <th:block
                      th:replace="~{'fragments/inputs/radio' :: radio(inputName='digitalAssisterFeedback',value=#{final-confirmation.feedback-input.o4}, label=#{final-confirmation.feedback-input.o4})}"/>
                  <th:block
                      th:replace="~{'fragments/inputs/radio' :: radio(inputName='digitalAssisterFeedback',value=#{final-confirmation.feedback-input.o5}, label=#{final-confirmation.feedback-input.o5})}"/>
                </th:block>
              </th:block>
              <th:block th:replace="~{'fragments/inputs/textArea' ::
              textArea(inputName='digitalAssisterFeedbackDetail',
              rows=3,
              label=#{final-confirmation.additional-comments},
              ariaLabel='digitalAssisterFeedback',
              maxLength=100)}"/>
              <div class="form-card__footer">
                <th:block th:replace="~{'fragments/inputs/submitButton' :: submitButton(
                      text=#{final-confirmation.feedback-submit-feedback}, classes='button button--primary center')}"/>
              </div>
            </div>
            <div
                th:if="${inputData.get('digitalAssisterFeedback') != null and inputData.get('digitalAssisterFeedback') != ''}"
                id="feedback-submitted" class="spacing-above-15">
              <th:block th:replace="~{'fragments/icons' :: checkbox}"></th:block>
              <p th:text="#{final-confirmation.feedback-submitted}" class="spacing-above-35"
                 style="font-weight: bold;"></p>
            </div>
          </th:block>
        </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
