<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{contact-info.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/icons :: contactInfo}"></th:block>
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{contact-info.header})}"/>
        <th:block
            th:replace="~{fragments/form :: form(action=${formAction}, content=~{::contactInfoContent})}">
          <th:block th:ref="contactInfoContent">
            <div class="form-card__content">
              <th:block
                  th:replace="~{fragments/inputs/phone :: phone(
                  inputName='phoneNumber',
                  label=#{contact-info.phone-number},
                  helpText=#{contact-info.phone-number.help})}"/>
              <th:block
                  th:replace="~{fragments/inputs/phone :: phone(
                  inputName='cellPhoneNumber',
                  label=#{contact-info.cell-number},
                  helpText=#{general.optional})}"/>
              <th:block
                  th:replace="~{fragments/inputs/phone :: phone(
                  inputName='workPhoneNumber',
                  label=#{contact-info.work-number},
                  helpText=#{general.optional})}"/>
              <th:block th:replace="~{fragments/inputs/text ::
                  text(inputName='emailAddress',
                  label=#{contact-info.email-address},
                  helpText=#{contact-info.email-address.help})}"/>
              <th:block th:replace="~{fragments/inputs/checkboxFieldset ::
                  checkboxFieldset(inputName='wantsReminders',
                  label=#{contact-info.can-we-contact},
                  fieldsetHelpText=#{general.optional},
                  content=~{::canWeContactYou})}">
                <th:block th:ref="canWeContactYou">
                  <th:block
                      th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='wantsReminders',value='true', label=#{contact-info.yes})}"/>
                </th:block>
              </th:block>
              <th:block th:replace="~{fragments/inputs/checkboxFieldset ::
                  checkboxFieldset(inputName='remindersMethod',
                  label=#{contact-info.reminders},
                  fieldsetHelpText=#{contact-info.email-address.check-all-that-apply},
                  content=~{::reminderMethodCheckbox})}">
                <th:block th:ref="reminderMethodCheckbox">
                  <th:block
                      th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='remindersMethod',value=#{contact-info.text}, label=#{contact-info.text})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='remindersMethod',value=#{contact-info.email}, label=#{contact-info.email})}"/>
                </th:block>
              </th:block>
              <th:block th:replace="~{fragments/inputs/radioFieldset ::
                            radioFieldset(
                            label=#{contact-info.deaf-or-hoh},
                            fieldsetHelpText=#{general.optional},
                            inputName='identifiesAsDeaf',
                            content=~{::options})}">
                <th:block th:ref="options">
                  <th:block
                      th:replace="~{fragments/inputs/radio :: radio(inputName='identifiesAsDeaf',value='true', label=#{general.inputs.yes})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/radio :: radio(inputName='identifiesAsDeaf',value='false', label=#{general.inputs.no})}"/>
                </th:block>
              </th:block>

              <th:block
                  th:replace="~{fragments/inputs/select :: select(label=#{contact-info.deaf-contact-preference}, inputName='preferredCommsMethod', helpText=#{contact-info.email-address.check-all-that-apply}, content=~{::preferredComms})}">
                <th:block th:ref="preferredComms">
                  <th:block
                      th:replace="~{fragments/inputs/selectOptionPlaceholder :: selectOptionPlaceholder(optionText=#{contact-info.deaf-contact-preference.placeholder})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/selectOption :: selectOption(value=#{contact-info.deaf-contact-preference.option1}, optionText=#{contact-info.deaf-contact-preference.option1})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/selectOption :: selectOption(value=#{contact-info.deaf-contact-preference.option2}, optionText=#{contact-info.deaf-contact-preference.option2})}"/>
                </th:block>
              </th:block>
              <p th:text="#{contact-info.message-rates}" class="grey-text font-size--smaller"></p>
            </div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(
                  text=#{general.inputs.continue})}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
