<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{dcfs-mailing-address.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <div class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/icons :: mail}"></th:block>
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{dcfs-mailing-address.header})}"/>
        <div class="form-card__content">
          <div class="grid__item boxed-content boxed-content--green spacing-below-25">
            <p style="font-weight:bold" th:text="${T(org.ladocuploader.app.utils.SubmissionUtilities).getParishDisplayName(submission)}"></p>
            <p th:text="${T(org.ladocuploader.app.utils.SubmissionUtilities).getParishMailingAddress1(submission)}"></p>
            <p th:text="${T(org.ladocuploader.app.utils.SubmissionUtilities).getParishMailingAddress2(submission)}"></p>
          </div>
          <th:block th:utext="#{dcfs-mailing-address.write-down}"></th:block>
          <hr class="spacing-below-25 spacing-above-25">
          <p style="font-weight:bold" th:text="#{general.helpful-resources}"></p>
<!--          <th:block th:replace="~{fragments/icons :: icons-list}"></th:block>-->
<!--          <th:block th:replace="~{fragments/icons :: contactPhone}">-->
          <p class="spacing-below-25">

              <i class="icon-phone_in_talk"></i>
              <span th:utext="#{dcfs-mailing-address.call}"></span>
          </p>
<!--          </th:block>-->
          <p class="spacing-below-25">

            <i class="icon-phone_in_talk"></i>
            <span th:utext="#{dcfs-mailing-address.dcfs-worker}"></span>
          </p>
          
        </div>
        <div class="form-card__footer">
          <th:block th:replace="~{fragments/continueButton :: continue}"/>
        </div>
      </main>
    </div>
</div>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>