<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{document-who.title}, useDropzone=false)}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{document-who.header})}"/>
        <th:block th:replace="~{fragments/form :: form(action=${formAction}, content=~{::clientInfoFormContents})}">
          <th:block th:ref="clientInfoFormContents"
                    th:with="
                fileIds = ${T(org.ladocuploader.app.utils.UserFileUtilities).getUserFileIdsInOrder(userFiles)},
                userFileInfo = ${T(org.ladocuploader.app.utils.UserFileUtilities).getUserFileInfo(session.userFiles, userFiles, flow, 'uploadDocuments')},
                numberOfFiles = ${userFileInfo.keySet().size()},
                maxFiles=${@environment.getProperty('form-flow.uploads.max-files')}">
            <div th:id="upload-doc-div-details" class="spacing-below-25">
              <p th:if="${numberOfFiles == 1}" th:id="upload-doc-text-details" class="upload-doc-text" th:text="#{general.files.file-added.one(${maxFiles})}"></p>
              <p th:if="${numberOfFiles > 1}" th:id="upload-doc-text-details" class="upload-doc-text" th:text="#{general.files.file-added.other(${numberOfFiles}, ${maxFiles})}"></p>
            </div>
            <div class="form-card__content">
              <div class="dropzone file-preview-template preview-container">
                <th:block th:each="fileId, iter: ${fileIds}">
                  <th:block th:with="
                              userFile=${userFileInfo.get(fileId)},
                              docWhoInputName=${'documentOwner' + T(formflow.library.inputs.FieldNameMarkers).DYNAMIC_FIELD_MARKER + fileId}">
                    <th:block th:replace="~{fragments/fileDetails :: fileDetails(userFile=${userFile}, person=${''}, showDocType=false)}"></th:block>
                    <th:block th:replace="~{fragments/inputs/selectCustom :: select(
                        inputName=${docWhoInputName},
                        helpText='',
                        content=~{::docWho},
                        ariaDescribedBy=${fileId},
                        label='',
                        ariaLabel='header')}">
                      <th:block th:ref="docWho">
                        <th:block
                            th:replace="~{fragments/inputs/selectOptionPlaceholder :: selectOptionPlaceholder(optionText=#{document-who.placeholder})}"/>
                        <th:block th:each="docPerson : ${T(org.ladocuploader.app.utils.SubmissionUtilities).getHouseholdMemberNames(submission)}">
                          <th:block
                              th:replace="~{fragments/inputs/selectOption :: selectOption(value=${docPerson}, optionText=${docPerson})}"/>
                        </th:block>
                      </th:block>
                    </th:block>
                  </th:block>
                </th:block>
              </div>
            </div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/yesOrNo :: yesOrNo(
                inputName='continueDocOwner',
                ariaDescribe='header',
                overrideNoText=#{general.add-or-delete-files},
                overrideYesText=#{general.inputs.continue})}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}" />
</body>
</html>