<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title=#{ethnicity-selection.title})"></head>
<body>
<div class="page-wrapper">
  <div th:replace="fragments/toolbar :: toolbar"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="fragments/goBack :: goBackLink"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block
            th:replace="'fragments/cardHeader' :: cardHeader(header=#{ethnicity-selection.header}, subtext=#{ethnicity-selection.subheader})"/>
        <th:block
            th:replace="'fragments/form' :: form(action=${formAction}, content=~{::ethnicitySelection})">
          <th:block th:ref="ethnicitySelection">
            <div class="form-card__content">
              <th:block th:replace="'fragments/inputs/radioFieldset' ::
                        radioFieldset(inputName='ethnicitySelected',
                        ariaLabel=#{ethnicity-selection.header},
                        content=~{::ethnicitySelectionFieldSet})">
                <th:block th:ref="ethnicitySelectionFieldSet">
                  <th:block
                      th:replace="'fragments/inputs/radio' :: radio(inputName='ethnicitySelected',value=#{ethnicity-selection.option1}, label=#{ethnicity-selection.option1})"/>
                  <th:block
                      th:replace="'fragments/inputs/radio' :: radio(inputName='ethnicitySelected',value=#{ethnicity-selection.option2}, label=#{ethnicity-selection.option2})"/>
                </th:block>
              </th:block>
            </div>
            <div class="form-card__footer">
              <th:block th:replace="'fragments/inputs/submitButton' :: submitButton(
                text=#{general.inputs.continue})"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="fragments/footer :: footer" />
</body>
</html>