<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title=#{expedited-snap.title})"></head>
<body>
<div class="page-wrapper">
  <div th:replace="fragments/toolbar :: toolbar"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="fragments/goBack :: goBackLink"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="'fragments/icons' :: groceries"></th:block>
        <th:block
            th:replace="'fragments/cardHeader' :: cardHeader(header=#{expedited-snap.header})"/>
        <th:block th:replace="'fragments/honeycrisp/accordion' :: accordion(
          buttonLabel=#{expedited-snap.what-is},
          content=~{::expeditedSnapDescription})">
            <th:block th:ref="expeditedSnapDescription">
              <p th:utext="#{expedited-snap.what-is.content}"></p>

            </th:block>
        </th:block>
        <th:block th:replace="'fragments/honeycrisp/accordion' :: accordion(
          buttonLabel=#{expedited-snap.who-qualifies},
          content=~{::expeditedSnapWhoQualifies})">
          <th:block th:ref="expeditedSnapWhoQualifies">
            <p th:utext="#{expedited-snap.who-qualifies.content}"></p>
            <ul class="list--bulleted">
              <li th:text="#{expedited-snap.who-qualifies.ul1}"></li>
              <li th:text="#{expedited-snap.who-qualifies.ul2}"></li>
              <li th:text="#{expedited-snap.who-qualifies.ul3}"></li>
            </ul>

          </th:block>
        </th:block>
        <div class="form-card__footer spacing-below-60">
          <th:block th:replace="~{fragments/continueButton :: continue}"/>
        </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="fragments/footer :: footer" />
</body>
</html>
