<th:block th:with="expense=${returnExpenses(param.expense)}">
  <!DOCTYPE html>
  <html th:lang="${#locale.language}">
  <head th:replace="fragments/head :: head(title=#{home-expenses.lot-rent})"></head>
  <body>
  <div class="page-wrapper">
    <div th:replace="fragments/toolbar :: toolbar"></div>
    <section class="slab">
      <div class="grid">
        <div th:replace="fragments/goBack :: goBackLink"></div>
        <main id="content" role="main" class="form-card spacing-above-35">
          <th:block
              th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContents})}">
            <th:block th:ref="formContents">
              <div class="form-card__content">
                <th:block
                    th:replace="~{fragments/cardHeader :: cardHeader(header=#{insurance-expenses-amount.header(${expense.name})}, subtext=#{insurance-expenses-amount.subheader})}"/>
                <th:block
                    th:replace="~{fragments/inputs/money :: money(inputName=${expense.inputName},
                      ariaLabel=${expense.name},
                      postfix='/month'
                      )}"/>
              </div>
              <div class="form-card__footer">
                <a class="button button--secondary"
                   th:href="'/flow/' + ${flow} + '/expensesInsuranceAmountIteration?' + expense.next"
                   th:text="#{general.inputs.continue}"></a>
              </div>
            </th:block>
          </th:block>
        </main>
      </div>
    </section>
  </div>
  <th:block th:replace="fragments/footer :: footer"/>
  </body>
  </html>
</th:block>