<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{expedited-snap-start.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/icons :: choosePrograms}"></th:block>
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{expedited-snap-start.header}, subtext=#{expedited-snap-start.subheader})}"/>
        <th:block th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
          <th:block th:ref="formContent">
            <div class="form-card__footer">
              <th:block
                  th:with="
              inputName='isApplyingForExpeditedSnap',
              ariaDescribe='header',
              hasHelpText=${!#strings.isEmpty(helpText)},
              hasAriaDescribe=${!#strings.isEmpty(ariaDescribe)}"
                  th:assert="${!#strings.isEmpty(inputName)}, ${hasAriaDescribe}">
                <button
                    th:name="${inputName}"
                    th:aria-describedby="${hasHelpText ? inputName + '-help-text' : ariaDescribe}"
                    type="submit"
                    value="true"
                    class="button button--primary">
                  <span th:text="#{expedited-snap-start.yes}"></span>
                </button>
                <button
                    th:name="${inputName}"
                    th:aria-describedby="${hasHelpText ? inputName + '-help-text' : ariaDescribe}"
                    value="false"
                    class="button spacing-left-0">
                  <span th:text="#{expedited-snap-start.no}"></span>
                </button>
              </th:block>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}" />
</body>
</html>
