<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{expedited-snap.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/icons :: groceries}"></th:block>
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{expedited-snap.header})}"/>
        <th:block th:replace="~{'fragments/honeycrisp/reveal' :: reveal(
                controlId='r1',
                linkLabel=~{::revealLabel1},
                content=~{::revealContent1},
                forceShowContent='true')}">
          <th:block th:ref="revealLabel1">
            <i class="icon-">&#xE862;</i>
            <span th:text="#{expedited-snap.what-is}"></span>
          </th:block>
          <th:block th:ref="revealContent1">
            <p th:text="#{expedited-snap.what-is.content}"></p>
          </th:block>
        </th:block>
        <th:block th:replace="~{'fragments/honeycrisp/reveal' :: reveal(
                controlId='r2',
                linkLabel=~{::revealLabel2},
                content=~{::revealContent2},
                forceShowContent='true')}">
          <th:block th:ref="revealLabel2">
            <i class="icon-">&#xE862;</i>
            <span th:text="#{expedited-snap.who-qualifies}"></span>
          </th:block>
          <th:block th:ref="revealContent2">
            <p th:text="#{expedited-snap.who-qualifies}"></p>
            <ul class="list--bulleted">
              <li th:utext="#{expedited-snap.who-qualifies.li1}"></li>
              <li th:utext="#{expedited-snap.who-qualifies.li2}"></li>
              <li th:utext="#{expedited-snap.who-qualifies.li3}"></li>
            </ul>
          </th:block>
        </th:block>

        <div class="form-card__footer spacing-below-60">
          <th:block th:replace="~{fragments/continueButton :: continue}"/>
        </div>
        </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
