<!DOCTYPE html>
<html th:lang="${#locale.language}">
<th:block th:with="
 hhMemberUUID=${fieldData.getOrDefault('medicalExpenseMember', 'you')},
 householdMemberName=${T(org.ladocuploader.app.utils.SubmissionUtilities).getHouseholdMemberFullnameByUUID(fieldData.getOrDefault('medicalExpenseMember', 'you'), inputData)}">
<head th:replace="~{fragments/head :: head(title=#{medical-expenses-amount.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=${hhMemberUUID == 'you' ?
            #messages.msgWithParams('medical-expense-amount-you.question', householdMemberName) :
            #messages.msgWithParams('medical-expense-amount-hhmember.question', householdMemberName)})}"/>
        <th:block
            th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formDetails})}">
          <th:block th:ref="formDetails">
            <div class="form-card__content">
              <div th:each="expense, iter:${inputData.get('householdMedicalExpenses[]')}"
                   class="spacing-below-15">
                <th:block
                    th:with="inputName=${'householdMedicalExpenseAmount' + T(formflow.library.inputs.FieldNameMarkers).DYNAMIC_FIELD_MARKER + expense}">
                  <th:block
                      th:with="labelName=${T(org.ladocuploader.app.data.enums.MedicalExpensesType).getLabelSrcFromValue(expense)}">
                    <th:block
                        th:replace="~{fragments/inputs/money :: money(inputName=${inputName},
                      label=${#messages.msg(labelName)},
                      helpText=#{expenses-estimate-ok},
                      postfix='/month')}"/>
                  </th:block>
                </th:block>
                <hr/>
              </div>
            </div>
            <div class="form-card__footer">
              <th:block
                  th:replace="~{fragments/inputs/submitButton :: submitButton(text=#{general.inputs.continue})}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</th:block>
</html>