<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{criminal-justice.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{criminal-justice.header},
            subtext=#{criminal-justice.subtext})}"/>
        <th:block
            th:replace="~{fragments/form :: form(action=${formAction}, content=~{::criminalJusticeSituation})}">
          <th:block th:ref="criminalJusticeSituation">
            <th:block th:replace="~{fragments/inputs/radioFieldset ::
                          radioFieldset(inputName='criminalJusticeFleeingFelon',
                          label=#{criminal-justice.q1},
                          content=~{::fleeingFelonOptions})}">
                          <th:block th:ref="fleeingFelonOptions">
                            <!-- Copy the below input if you want to add more -->
                            <th:block
                                th:replace="~{fragments/inputs/radio :: radio(inputName='criminalJusticeFleeingFelon',value='false', label=#{general.inputs.no})}"/>
                            <th:block
                                th:replace="~{fragments/inputs/radio :: radio(inputName='criminalJusticeFleeingFelon',value='true', label=#{general.inputs.yes})}"/>
                          </th:block>
            </th:block>
            <th:block th:replace="~{fragments/inputs/radioFieldset ::
                          radioFieldset(inputName='criminalJusticeParoleViolation',
                          label=#{criminal-justice.q2},
                          content=~{::paroleViolationOptions})}">
                          <th:block th:ref="paroleViolationOptions">
                            <!-- Copy the below input if you want to add more -->
                            <th:block
                                th:replace="~{fragments/inputs/radio :: radio(inputName='criminalJusticeParoleViolation',value='false', label=#{general.inputs.no})}"/>
                            <th:block
                                th:replace="~{fragments/inputs/radio :: radio(inputName='criminalJusticeParoleViolation',value='true', label=#{general.inputs.yes})}"/>
                          </th:block>
            </th:block>
            <th:block th:replace="~{fragments/inputs/radioFieldset ::
                          radioFieldset(inputName='criminalJusticeProgramRulesViolation',
                          label=#{criminal-justice.q3},
                          content=~{::programRuleOptions})}">
              <th:block th:ref="programRuleOptions">
                <!-- Copy the below input if you want to add more -->
                <th:block
                    th:replace="~{fragments/inputs/radio :: radio(inputName='criminalJusticeProgramRulesViolation',value='false', label=#{general.inputs.no})}"/>
                <th:block
                    th:replace="~{fragments/inputs/radio :: radio(inputName='criminalJusticeProgramRulesViolation',value='true', label=#{general.inputs.yes})}"/>
              </th:block>
            </th:block>
            <th:block th:replace="~{fragments/inputs/radioFieldset ::
                          radioFieldset(inputName='criminalJusticeFelonyConviction',
                          label=#{criminal-justice.q4},
                          fieldsetHelpText=#{criminal-justice.q4.helptext},
                          content=~{::felonyConvictionOptions})}">
              <th:block th:ref="felonyConvictionOptions">
                <!-- Copy the below input if you want to add more -->
                <th:block
                    th:replace="~{fragments/inputs/radio :: radio(inputName='criminalJusticeFelonyConviction',value='false', label=#{general.inputs.no})}"/>
                <th:block
                    th:replace="~{fragments/inputs/radio :: radio(inputName='criminalJusticeFelonyConviction',value='true', label=#{general.inputs.yes})}"/>
              </th:block>
            </th:block>


            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(
                text=#{general.inputs.continue})}" />
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>