<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{income-confirmation.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/icons :: checkbox}"></th:block>
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{income-confirmation.header}, subtext=#{income-confirmation.subtext})}"/>
        <a class="button button--primary" th:href="'/flow/' + ${flow} + '/householdIncomeWho'"
           th:text="#{general.inputs.yes}"></a>
        <a class="button button--secondary"
           th:href="'/flow/' + ${flow} + '/' + ${screen} + '/navigation'"
           th:text="#{general.inputs.no}"></a>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
