<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title=#{income-list.title})"></head>
<body>
<div class="page-wrapper">
  <div th:replace="fragments/toolbar :: toolbar"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="fragments/goBack :: goBackLink"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/icons :: household}"></th:block>
        <th:block
            th:replace="'fragments/cardHeader' :: cardHeader(header=#{income-list.header}, subtext=#{income-list.subtext})"/>
        <th:block th:replace="'fragments/form' :: form(action=${formAction}, content=~{::formContent})">
          <th:block th:ref="formContent">
            <div class="form-card__content">
              <div class="boxed-content text--centered">
                <div class="subflow-list">
                <th:block>
                  <span class="subflow-list__icon">
                <th:block th:replace="~{'fragments/icons' :: iconHouseOutlineTiny}"/>
                </span>

                  <span class="subflow-list__icon">
                </span>
                  <div class="subflow-list__item-title">
                    <span th:text="#{income-list.total-monthly-pay}"></span>
                  </div>

                  <div class="subflow-list__item-body">
                    <div><span th:text="'$'+${fieldData.get('monthlyHouseholdIncome')}"></span></div>
                  </div>
                </th:block>
                </div>

              </div>
              <p id="household-income-description" th:text="#{household-income-total.add-by-job}"></p>

            </div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/yesOrNo :: yesOrNo(
                inputName='switchToIncomeByJob',
                ariaDescribe='household-income-description',
                overrideNoText=#{household-income-total.yes},
                overrideYesText=#{household-income-total.no})}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="fragments/footer :: footer" />
</body>