<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{domestic-violence.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/icons :: medicalInOtherState}"></th:block>
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{domestic-violence.header}, subtext=#{domestic-violence.subheader})}"/>
        <th:block th:replace="~{fragments/form :: form(action=${formAction}, content=~{::hhDomesticViolence})}">
          <th:block th:ref="hhDomesticViolence">
            <div class="form-card__footer">
             <th:block th:replace="~{fragments/continueButton :: continue}" />
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}" />
</body>
</html>