<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{household-list.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{'fragments/icons' :: 'householdBlue'}"></th:block>
        <th:block
            th:replace="~{'fragments/cardHeader' :: cardHeader(header=#{household-list.header},
            subtext=#{household-list.subheader})}"/>
        <th:block th:replace="~{'fragments/honeycrisp/reveal' :: reveal(
                controlId='r1',
                linkLabel=~{::revealLabel1},
                content=~{::revealContent1})}">
          <th:block th:ref="revealLabel1">
            <span class="clipboard-icon">
              <i class="icon-">&#xE862;</i>
            </span>
            <span th:text="#{household-list.learn-more}"></span>
          </th:block>
          <th:block th:ref="revealContent1">
            <ul class="list--bulleted">
              <li th:utext="#{household-list.learn-more-l1}"></li>
              <li th:utext="#{household-list.learn-more-l2}"></li>
              <li th:utext="#{household-list.learn-more-l3}"></li>
              <li th:utext="#{household-list.learn-more-l4}"></li>
              <li th:utext="#{household-list.learn-more-l5}"></li>
              <li th:utext="#{household-list.learn-more-l6}"></li>
            </ul>
          </th:block>
        </th:block>
        <div class="form-card__content">
          <div class="boxed-content text--centered">
            <strong th:text="#{household-list.your-household}"></strong>
            <ul class="subflow-list list--bulleted">
              <th:block th:if="${inputData.containsKey('household')}">
                <li class="spacing-below-15">
                  <span>
                      <span th:text="${inputData.firstName}"></span>
                      <span th:text="${inputData.lastName}"></span>
                    <span th:text="#{household-list.thats-you}"></span>
                  </span>
                </li>
                <li th:each="householdMember, iter: ${inputData.household}" class="spacing-below-15">
                  <span class="space-between">
                    <span>
                      <span th:text="${householdMember.householdMemberFirstName}"></span>
                      <span th:text="${householdMember.householdMemberLastName}"></span>
                    </span>
                    <span class="text--small spacing-below-0">
                      <a th:href="'/flow/laDigitalAssister/' + ${iterationStartScreen} + '/' + ${householdMember.uuid} + '/edit'"
                         th:text="#{general.edit}"
                         th:id="'edit-iteration-' + ${householdMember.uuid}"
                         class="subflow-edit"></a>
                      <a th:href="'/flow/laDigitalAssister/household/' + ${householdMember.uuid} + '/deleteConfirmation'"
                         th:text="#{general.delete}"
                         class="subflow-delete"
                         th:id="'delete-iteration-' + ${householdMember.uuid}"></a>
                    </span>
                  </span>
                </li>
              </th:block>
            </ul>
          </div>
        </div>
        <div class="form-card__footer">
          <a th:href="'/flow/' + ${flow} + '/householdInfo'" class="button button--primary spacing-above-15"
             th:text="#{household-list.add}"></a>
          <a th:href="'/flow/' + ${flow} + '/' + ${screen} + '/navigation'"
             th:text="#{household-list.continue}"
             class="button spacing-left-0"
             id="continue-link"></a>
        </div>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
