<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{personal-situations-which.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/icons :: briefcase}"></th:block>
        <th:block
            th:replace="~{fragments/form :: form(action=${formAction}, content=~{::whichHouseholdSituations})}">
          <th:block th:ref="whichHouseholdSituations">
            <div th:each="individual, iter: ${inputData.get('affectedByPersonalSituations[]')}"
                 class="spacing-below-15">
                  <th:block th:with="inputName=${'personalSituations' + T(formflow.library.inputs.FieldNameMarkers).DYNAMIC_FIELD_MARKER + individual.uuid}">
                    <th:block th:replace="~{'fragments/inputs/checkboxFieldset' ::
                  checkboxFieldset(inputName=${inputName},
                  ariaLabel='header',
                  content=~{::whichPersonalSituations})}"
                              th:with="messageVariant=${individual.uuid == 'you' ? 'self' : 'householdMember'}">
                      <th:block th:ref="whichPersonalSituations">
                        <h2 th:text="${messageVariant == 'self' ? #messages.msgWithParams('personal-situations-which.self-subheader', individual.firstName) : #messages.msgWithParams('personal-situations-which.householdMember-subheader', individual.firstName)}"></h2>
                        <p th:text="#{general.check-all-that-apply}"></p>
                        <th:block th:each="personalSituation : ${T(org.ladocuploader.app.data.enums.PersonalSituationType).values()}">
                          <th:block
                              th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName=${inputName}, value=${personalSituation.getValue()}, label=#{${personalSituation.getLabelSrc()}})}"/>
                        </th:block>
                      </th:block>
                    </th:block>
                  </th:block>
                  <hr/>
            </div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(
                  text=#{general.inputs.continue})}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
  <th:block th:replace="~{fragments/footer :: footer}"/>
</div>
</body>
</html>
