<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{schooldetails.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/icons :: school}"></th:block>
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{schooldetails.header}, subtext=#{schooldetails.subheader})}"/>
        <th:block
            th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
          <th:block th:ref="formContent">
            <div class="form-card__content">
              <div th:each="individual, iter: ${inputData.get('studentsFullNames[]')}"
                   class="spacing-below-15"
                   th:with="messageVariant=${individual.uuid == 'you' ? 'self' : 'householdMember'}">
                <th:block
                    th:with="schoolNameInputName=${'schoolName' + T(formflow.library.inputs.FieldNameMarkers).DYNAMIC_FIELD_MARKER + individual.uuid}">
                  <th:block th:replace="~{fragments/inputs/text ::
                    text(inputName=${schoolNameInputName},
                    label=${messageVariant == 'self' ? #messages.msgWithParams('schooldetails.formquestion1.posessive', individual.firstName) : #messages.msgWithParams('schooldetails.formquestion1', individual.firstName)})}"/>
                </th:block>
                <th:block
                    th:with="schoolEnrollmentInputName=${'schoolEnrollmentLevel' + T(formflow.library.inputs.FieldNameMarkers).DYNAMIC_FIELD_MARKER + individual.uuid}">
                  <th:block
                      th:replace="~{fragments/inputs/radioFieldset :: radioFieldset(label=${messageVariant == 'self' ? #messages.msgWithParams('schooldetails.formquestion2.posessive', individual.firstName) : #messages.msgWithParams('schooldetails.formquestion2', individual.firstName)}, inputName=${schoolEnrollmentInputName}, fieldsetHelpText=#{schooldetails.question2-helptext}, content=~{::schoolEnrollmentLevels})}">
                    <th:block th:ref="schoolEnrollmentLevels">
                      <th:block
                          th:replace="~{fragments/inputs/radio :: radio(value=#{schooldetails.fulltime}, label=#{schooldetails.fulltime})}"/>
                      <th:block
                          th:replace="~{fragments/inputs/radio :: radio(value=#{schooldetails.halftime}, label=#{schooldetails.halftime})}"/>
                    </th:block>
                  </th:block>
                </th:block>
                <hr>
              </div>
            </div>
            <div class="form-card__footer">
              <th:block
                  th:replace="~{fragments/inputs/submitButton :: submitButton(text=#{general.inputs.continue})}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>