<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title=#{home-expenses-amount.title})"></head>
<body>
<div class="page-wrapper">
  <div th:replace="fragments/toolbar :: toolbar"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="fragments/goBack :: goBackLink"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <p class="grey-text" th:text="#{home-expenses-amount.header}"></p>
        <th:block th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formDetails})}">
          <th:block th:ref="formDetails">
            <div class="form-card__content">
              <div th:each="expense, iter:${inputData.get('householdHomeExpenses[]')}" class="spacing-below-15">
                <th:block
                    th:with="inputName=${'householdHomeExpenseAmount' + T(formflow.library.inputs.FieldNameMarkers).DYNAMIC_FIELD_MARKER + expense}">
                  <h2 th:text="#{home-expenses-amount.question(${expense})}"></h2>
                  <p class="text--help" th:text="#{expenses-estimate-ok}"></p>
                  <th:block
                      th:replace="~{fragments/inputs/money :: money(inputName=${inputName},
                  ariaLabel=#{home-expenses-amount.header})}"/>
                </th:block>
                <hr/>
              </div>
            </div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(text=#{general.inputs.continue})}"/>
            </div>
          </th:block>
         </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>