<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<th:block th:with="messageVariant=${fieldData.getOrDefault('householdMemberJobAdd', '') == 'you' ? 'self' : 'householdMember'}">
<head th:replace="~{fragments/head :: head(title=#{job-hourly-wage.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <p class="grey-text" th:text="${fieldData.get('employerName')}"></p>
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=${messageVariant == 'self' ? #messages.msgWithParams('job-hourly-wage.header', 'your') : #messages.msgWithParams('job-hourly-wage.header', fieldData.get('householdMemberJobAdd'))})}"/>
          <th:block th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
            <th:block th:ref="formContent">
              <div class="form-card__content">
                <th:block
                  th:replace="~{fragments/inputs/money :: money(inputName='hourlyWage',
                  ariaLabel='header', postfix='/hr')}"/>
                
              </div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(
                  text=#{general.inputs.continue})}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}" />
</body>
</th:block>
</html>

