<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<th:block th:with="messageVariant=${fieldData.getOrDefault('householdMemberJobAdd', '') == 'you' ? 'self' : 'householdMember'}">
<head th:replace="~{fragments/head :: head(title=#{job-paid-by-hour.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <p class="grey-text" th:text="${fieldData.get('employerName')}"></p>
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=${messageVariant == 'self' ? #messages.msg('job-paid-by-hour-self.header') : #messages.msgWithParams('job-paid-by-hour-househould.header', fieldData.get('householdMemberJobAdd'))})}"/>
          <th:block th:replace="~{fragments/form :: form(action=${formAction}, content=~{::content})}">
            <th:block th:ref="content">
              <div class="spacing-below-5">
                <th:block th:replace="~{fragments/inputs/yesOrNo :: yesOrNo(
                  inputName='jobPaidByHour',
                  ariaDescribe='header')}"/>
              </div>
              <div class="spacing-below-0">
                <a th:href="'/flow/' + ${flow} + '/jobPayAmount/' + ${uuid}" th:text="#{general.i-dont-know}"></a>
              </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}" />
</body>
</th:block>
</html>
