<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<th:block th:with="
    hhMemberUUID=${fieldData.getOrDefault('householdMemberJobAdd', 'you')},
    householdMemberName=${T(org.ladocuploader.app.utils.SubmissionUtilities).getHouseholdMemberFullnameByUUID(fieldData.getOrDefault('householdMemberJobAdd', 'you'), inputData)}">
  <head th:replace="~{fragments/head :: head(title=#{job-pay-period.title})}"></head>
  <body>
  <div class="page-wrapper">
    <div th:replace="~{fragments/toolbar :: toolbar}"></div>
    <section class="slab">
      <div class="grid">
        <div th:replace="~{fragments/goBack :: goBackLink}"></div>
        <main id="content" role="main" class="form-card spacing-above-35">
          <p class="grey-text" th:text="${fieldData.get('employerName')}"></p>
          <th:block
              th:replace="~{fragments/cardHeader :: cardHeader(header=${hhMemberUUID == 'you' ? #messages.msg('job-pay-period-self.header') : #messages.msgWithParams('job-pay-period-household.header', householdMemberName)})}"/>
          <th:block
              th:replace="~{fragments/form :: form(action=${formAction}, content=~{::content})}">
            <th:block th:ref="content">
              <div class="form-card__content">
                <th:block th:replace="~{fragments/inputs/radioFieldset ::
                              radioFieldset(inputName='payPeriod',
                              ariaLabel='header',
                              content=~{::radioContent})}">
                  <th:block th:ref="radioContent">
                    <th:block
                        th:each="payPeriod : ${T(org.ladocuploader.app.data.enums.PayFrequencyType).values()}">
                      <th:block
                          th:replace="~{fragments/inputs/radio :: radio(inputName='payPeriod', value=${payPeriod.getValue()}, label=#{${payPeriod.getLabelSrc()}})}"/>
                    </th:block>
                  </th:block>
                </th:block>

              </div>
              <div class="form-card__footer">
                <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(
                  text=#{general.inputs.continue})}"/>

              </div>
            </th:block>
          </th:block>
        </main>
      </div>
    </section>
  </div>
  <th:block th:replace="~{fragments/footer :: footer}"/>
  </body>
</th:block>
</html>