<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{where-to-send-mail.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/icons :: mail}"></th:block>
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{where-to-send-mail.header}, subtext=#{where-to-send-mail.subtext})}"/>
        <a th:href="'/flow/' + ${flow} + '/mailingAddressNoAddress'"
           th:text="#{where-to-send-mail.add-address}"
           class="button button--primary"></a>
        <a th:href="'/flow/' + ${flow} + '/' + ${screen} + '/navigation'"
           th:text="#{where-to-send-mail.continue-without}"
           class="button spacing-left-0"
           id="continue-link"></a>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>