<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{race-selection.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/icons :: raceAndEthnicity}"></th:block>
        <th:block
            th:replace="~{fragments/form :: form(action=${formAction}, content=~{::raceSelection})}">
          <th:block th:ref="raceSelection">
            <div class="form-card__content">
              <h2 th:text="#{race-selection.header(${inputData.firstName})}"></h2>
              <p class="text--help" th:text="#{race-selection.subheader}"></p>
              <th:block th:replace="~{fragments/inputs/checkboxFieldset :: checkboxFieldset(
                  inputName='raceSelected',
                  ariaLabel=#{race-selection.header},
                  content=~{::raceSelectionOptions})}">
                <th:block th:ref="raceSelectionOptions">
                  <th:block th:each="raceType : ${T(org.ladocuploader.app.data.enums.RaceType).values()}">
                    <th:block
                        th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='raceSelected', value=${raceType.getValue()}, label=#{${raceType.getLabelSrc()}})}"/>
                  </th:block>
                </th:block>
              </th:block>
              <hr/>

              <th:block th:if="${fieldData.containsKey('household')}">
                <p th:value="${fieldData.household}"></p>
                <div th:each="householdMember, iter: ${fieldData.household}"
                     class="spacing-below-15">
                  <th:block
                      th:with="householdInputName=${'householdMemberRace' + T(formflow.library.inputs.FieldNameMarkers).DYNAMIC_FIELD_MARKER + householdMember.uuid}">
                    <h2 th:text="#{race-selection.question(${householdMember.householdMemberFirstName})}"></h2>
                    <p class="text--help" th:text="#{race-selection.subheader}"></p>
                    <th:block th:replace="~{fragments/inputs/radioFieldset ::
                        radioFieldset(inputName=${householdInputName},
                        ariaLabel=#{race-selection.question(${householdMember.householdMemberFirstName})},
                        content=~{::householdRaceSelectionFieldSet})}">
                      <th:block th:ref="householdRaceSelectionFieldSet">
                        <th:block th:each="raceType : ${T(org.ladocuploader.app.data.enums.RaceType).values()}">
                          <th:block
                              th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName=${householdInputName}, value=${raceType.getValue()}, label=#{${raceType.getLabelSrc()}})}"/>
                        </th:block>
                      </th:block>
                    </th:block>
                  </th:block>
                  <hr/>
                </div>
              </th:block>
            </div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(
                text=#{general.inputs.continue})}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>