<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{where-to-send-mail-pobox.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/icons :: mail}"></th:block>
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{where-to-send-mail-pobox.header}, subtext=#{where-to-send-mail-pobox.subtext})}"/>
        <a th:href="'https://sspweb.ie.dcfs.la.gov'" th:target="'_blank'" th:rel="'noreferrer noopener'"
           th:text="#{where-to-send-mail-pobox.button}"
           class="button button--primary"></a>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>