<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{whos-applying.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
          <th:block
              th:replace="~{fragments/cardHeader :: cardHeader(header=#{whos-applying.header})}"/>
        <th:block
            th:replace="~{fragments/form :: form(action=${formAction}, content=~{::whosApplyingForm})}">
          <th:block th:ref="whosApplyingForm">
        <div class="form-card__content">
          <th:block th:replace="~{fragments/inputs/radioFieldset ::
                        radioFieldset(inputName='whosApplying',
                        ariaLabel='whosApplying',
                        content=~{::whosApplyingOptions})}">
                        <th:block th:ref="whosApplyingOptions">
                          <!-- Copy the below input if you want to add more -->
                          <th:block
                              th:replace="~{fragments/inputs/radio :: radio(inputName='whosApplying',value='Self', label=#{whos-applying.radio1})}"/>
                          <th:block
                              th:replace="~{fragments/inputs/radio :: radio(inputName='whosApplying',value='CommunityPartner', label=#{whos-applying.radio2})}"/>
                        </th:block>
                      </th:block>
        </div>
        <div class="form-card__footer">
          <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(
                  text=#{general.inputs.continue})}"/>
        </div>
          </th:block>

        </th:block>
      </main>


    </div>

  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>