<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{wic-links.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/icons :: choosePrograms}"></th:block>
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=|#{general.good-news} #{wic.if-youre-approved}|, subtext=#{wic.subheader})}"/>

        <div class="notice-info">
          <span class="spacing-below-25" th:text="#{wic-links.at-the-end-of-this-app}"></span>
        </div>
        <th:block
            th:replace="~{fragments/form :: form(action=('/flow/' + ${flow} + '/'+ ${screen} + '/submit' ), content=~{::submitForm})}">
          <th:block th:ref="submitForm">
            <div class="form-card__footer spacing-below-60">
              <th:block th:replace="~{fragments/inputs/yesOrNo :: yesOrNo(
                              label=#{wic-links.are-you-interested},
                              inputName='interestedInWicInd',
                              ariaDescribe='header')}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>