<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{wic.title})}"></head>
<body>
<div class="page-wrapper">
    <div th:replace="~{fragments/toolbar :: toolbar}"></div>
    <section class="slab">
        <div class="grid">
            <div th:replace="~{fragments/goBack :: goBackLink}"></div>
            <main id="content" role="main" class="form-card spacing-above-35">
                <th:block th:replace="~{fragments/icons :: choosePrograms}"></th:block>
                <th:block
                        th:replace="~{fragments/cardHeader :: cardHeader(header=#{wic.header}, subtext=#{wic.based-on-your-answers})}"/>

                <div class="form-card__footer spacing-below-60">
                    <a class="button button--primary" href="https://mywic.net/participantreferral"
                       th:text="#{wic-links-button}"></a>
                    <a class="button button--secondary spacing-left-0" th:href="|/flow/${flow}/${screen}/navigation|"
                       th:text="#{general.continue-with-snap-only}"></a>
                </div>
            </main>
        </div>
    </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>